%border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
%display-none {
  display: none;
}
%cursor-pointer {
  cursor: pointer;
}
%transition {
  transition: all 0.4s ease;
} 
%margin-center {
  margin: 0 auto;
}
%fl-left-ext {
  float: left;
}
%fl-right-ext {
  float: right;
}
%clearfix-ext:after {
  content: ' ';
  display: block;
  clear: both;
}
%primary-btn-ext {
  padding: $space-10 $space-20;
  font-size: $text-16;
  text-transform: uppercase;
  color: $black;
  border-radius: 20px;
  background: $gold;
  @include transition(all, 0.4s, ease);
  @include box-shadow(0 2px 2px #afb1b3);
  cursor: pointer;
  &:hover {
    color: $white;
    background-color: $light-blue;
    text-decoration: none;
  }
  @include breakpoint(small) {
    border-radius: 0;
  }
}
%btn-small-ext {
  @extend %primary-btn-ext;
  padding: $space-7 $space-10;
  font-size: $text-14;
}
%round {
  border-radius: 50%;
}