@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 960px) { @content; }
  }
  @else if $point == medium-x {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 768px) and (max-width: 959px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == smaller {
    @media (max-width: 480px) { @content; }
  }
}

@mixin box-shadow($value) {
  box-shadow: #{$value};
}

@mixin border-radius($value) {
  border-radius: $value;
}

@mixin transform($functions) {
  -webkit-transform: $functions;
  -ms-transform: $functions;
  transform: $functions;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin menu-link() {
  margin-right: 5px;
  font-size: $text-14;
  color: darken($gray, 10%);
  &:visited {
    color: darken($gray, 25%);
  }
  &:hover {
    color: darken($gray, 25%);
  }
}