$container-large: 960px;
$container-medium: 747px;

$fa-font-path: "../font-awesome";
$fa-version:   "4.2.0" !default;

$dark-blue: #0e2c4b;
$light-blue: #35afba;
$sky-blue: #eaf8f9;
$gray: #afb1b3;
$text-gray: #434343;
$light-gray: #fafafa;
$purple: #d93ed4;
$white: #fff;
$gold: #fae019;
$crimson: #db2a1a;
$black: #050800;
$green: #61C668;

/* Base 16px */
$text-22: 1.375rem; /* 22px*/
$text-18: 1.125rem;
$text-16: 1rem;
$text-14: 0.875rem;
$text-12: 0.75rem;
$text-10: 0.625rem;

$space-7: 7px;
$space-10: 10px;
$space-14: 14px;
$space-20: 20px;
$space-40: 40px;
