span.form-required {
  display: none;
}
.form-actions {
  cursor: pointer;
  input {
    margin-right: $space-10;
  }
}
input[type="submit"] {
  @extend %primary-btn-ext;
  cursor: pointer;
}
label,
.fieldset-legend {
  line-height: 2;
  font-size: $text-14;
  color: darken($gray, 15%);
  &.compact-form-label {
    font-size: $text-14;
  }
}
input[type="text"],
input[type="password"],
textarea {
  padding-left: 12px;
  @include transition(all, 0.2s, ease);
  &:focus {
  @include box-shadow('0 0 2px #c9cbcc');
    
  }
}
input[type="text"],
input[type="password"],
textarea,
select {
  background: $white;
  border: 1px solid lighten($gray, 10%);
  @include box-shadow('0 0 4px #c9cbcc inset');
}
.form-wrapper,
.compact-form-wrapper {
  margin-bottom: $space-20;
}
.form-item {
  width: 50%;
  margin-bottom: $space-10;
  @extend %clearfix-ext;
  @include breakpoint(smaller) {
    width: 100%;
  }
  input[type="text"],
  select,
  input[type="password"] {
    height: 30px;
    margin-bottom: $space-10;
  }
  input[type="text"],
  input[type="password"] {
    display: block;
    max-width: 100%;
  }
  .form-item {
    width: 100%;
  }
}
.hierarchical-select-wrapper .hierarchical-select .selects {
  float: none;
  select {
    margin: 0;
    &:first-child {
      margin-right: 2%;
    }
  }
}
select {
  width: 49%;
  cursor: pointer;
}
.form-type-select {
  label {
    display: block;
  }
}
textarea {
  width: 100%;
  padding-top: 5px;
  resize: none;
  font-size: $text-14;
  font-family: Arial, sans-serif;
}

.bootstrap-filestyle {
  margin-top: $space-20;
  input[type="text"] {
    display: inline-block;
  }
  .group-span-filestyle {
    @include breakpoint(smaller) {
      display: block;
    }
  }
}

.form-item-remember-me {
  label {
    padding-left: 0;
  }
}
