.bx-wrapper {
  @include breakpoint(small) {
    margin-bottom: 0;
    .bx-pager {
      display: none;
    }
  }
}
.bx-controls-direction {
  a {
    text-align: center;
    font-size: 0;
    &:after {
      position: relative;
      top: 6px;
      margin-left: 0 !important;
      font-size: 2rem;
      color: $white;
    }
    &:hover {
      text-decoration: none;
    }
    &:hover:after {
      font-size: 2.1rem;
    }
  }
  .bx-prev {
    @extend %fa-chevron-left;
  }
  .bx-next {
    @extend %fa-chevron-right;
  }
}

.bx-custom-pager {
  @include breakpoint(medium-x) {
    display: none;
  }
    
  .bx-pager-item {
    margin: 0 5px;
    img {
      max-width: 75px;
    }
  }
}

.view-other-user-offers {
  .bx-wrapper {
    .bx-controls-direction {
      a {
        width: 32px;
        height: 32px;
        margin-top: -16px;
        &:after {
          font-size: $text-22;
        }
      }
    }
  }
}