.comment {
  margin-bottom: $space-20;
  display: table;
  vertical-align: top;
  h2.title {
    margin-bottom: $space-10;
  }
  div.user-picture img {
    margin-left: 0;
  }
  .attribution {
    display: table-cell;
    padding: 0 30px 0 0;
    vertical-align: top;
    overflow: hidden;
    @include breakpoint(smaller) {
      padding-right: $space-10;
    }
    img {
      max-width: 50px;
      margin: 0;
    }
    .username {
      word-wrap: break-word;
    }
  }
  .submitted {
    width: 80px;
    p {
      margin: 4px 0;
      font-size: $text-16;
      line-height: 1.2;
    }
    .comment-time {
      font-size: $text-12;
      color: $text-gray;
    }
    .comment-permalink {
      font-size: $text-10;
    }
  }
  .content {
    font-size: $text-14;
    line-height: 1.6;
  }
  .comment-arrow {
    position: absolute;
    left: -40px;
    border-style: solid;
    border-width: 20px;
    border-color: transparent;
    border-right-color: darken($light-gray, 10%);
    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 19px;
      border-color: transparent;
      border-right-color: $white;
      left: -18px;
      top: -19px;
    }
  }
  .comment-text {
    padding: $space-10 25px;
    border: 1px solid darken($light-gray, 10%);
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 100%;
    @include breakpoint(smaller) {
      padding: $space-10;
    }
  }
  .indented {
    margin-left: $space-40;
  }
  ul.links {
    padding: 0 0 $space-10 0;
    font-size: $text-12;
  }
  li {
    padding: $space-20 0 $space-10;
  }
}
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}