.grid-listing-container {
  h3 {
    margin: 0;
  }
  .pane-title {
    margin-top: $space-10;
  }
  .view-content {
    @extend %clearfix-ext;
    @include breakpoint(smaller) {
      margin-top: $space-20;
    }
  }
  .views-row {
    margin-bottom: 30px;
    @include transition(all, 200ms, ease);
    &:hover {
      @include transform(scale(1.1));
      @include breakpoint(medium-x) {
        @include transform(scale(1));
      }
    }
  }
  .grid-images {
    padding-top: 5px;
    text-align: center;
    border: solid lighten($gray, 10%);
    border-width: 1px 1px 0 1px;
    img {
      padding: 0 5px;
      @include border-radius(3px);
    }
  }
  .views-field-title,
  .views-field-name {
    padding: 5px;
    border: solid lighten($gray, 10%);
  }
  .views-field-title {
    border-width: 0 1px 0 1px;
  }
  .views-field-name {
    padding-top: 0;
    border-width: 0 1px 1px 1px;
    font-size: $text-14;
  }
}