.sidebar-block {
  position: relative;
  margin-bottom: $space-10;
  padding: $space-10;
  background: $sky-blue;
  color: $text-gray;
  .pane-title {
    text-align: center;
    font-size: $text-18;
    color: $white;
    background: darken($sky-blue, 25%);
    &:after {
      display: none;
      @extend %fa-chevron-down;
    }
    &.active:after {
      @extend %fa-chevron-up;
    }
  }
  a {
    display: inline-block;
    color: darken($gray, 15%);
    @include breakpoint(medium-x) {
      padding: 5px 0;
    }
  }
  .pane-content {
    ul {
      li {
        margin-bottom: 5px;
        line-height: 1.2;
        &.active {
          &:before {
            position: absolute;
            content: '';
            display: inline-block;
            left: 0;
            border-style: solid;
            border-width: 8px;
            border-color: transparent;
            border-left-color: darken($sky-blue, 25%);
          }
        } 
      }
    }
    & > ul {
      & > .first > a { /* The heading of each section. */
        text-transform: uppercase; 
      }
      & > li { /* The items. */
        margin-bottom: $space-20;
        &  > a {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          padding-bottom: 5px;
          font-weight: bold;
          border-bottom: 2px solid darken($gray, 15%);
        }
      }
    }
  } 
}

@include breakpoint(medium-x) {
  .sidebar-left {
    .pane-title {
      padding-left: $space-10;
      margin-bottom: 0;
      text-align: left;
      cursor: pointer;
      &:after {
        display: block;
        float: right;
        margin-right: $space-10;
      }
    }
    .pane-content {
      display: none;
    }
  }
}

@include breakpoint(small) {
  .sidebar-mobile {
    margin-top: $space-20;
  }
}