.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.center-margin {
  margin: 0 auto;
}
a {
  color: $dark-blue;
  &:visited {
    color: darken($text-gray, 10%);
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $crimson;
  }
}
#main-content {
  margin-top: 40px;
}
body {
  color: $black;
  #admin-menu {
    font-size: $text-14;
  }
}
.main {
  margin-bottom: $space-20 * 3;
  background: $white;
  @include breakpoint(medium-x) {
    margin-bottom: $space-10;
  }
}
.primary-btn {
  @extend %primary-btn-ext;
}
.btn-small {
  @extend %btn-small-ext;
}
#messages {
  margin-top: 50px;
}
h1 {
  margin-bottom: $space-20;
  color: darken($gray, 30%);
}
h2.pane-title,
h2 {
  margin-bottom: $space-10;
  padding: 5px 0;
}
h2 {
  color: darken($gray, 30%);
}
h3 {
  margin: $space-10 0;
}
h4 {
  padding-bottom: 5px;
  margin-bottom: $space-20;
  border-bottom: 1px solid darken($light-gray, 10%);
}
img {
  max-width: 100%;
  height: auto;
}
strong {  
  color: $black;
  font-weight: bold;
}
.heading-wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid darken($light-gray, 10%);
  h1 {
    display: inline-block;
    word-break: break-all;
  }
}

table {
  width: 100%;
  thead {
    background: lighten($gray, 10%);
    border-bottom: 1px solid $gray;
    th {
      padding: $space-10 0;
      font-weight: bold;
      color: $white;
      &:first-child {
        padding-left: 5px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid darken($light-gray, 5%);
      &:nth-child(even) {
        background: $light-gray;
      }
    }
    td {
      padding: $space-20 0;
    }
  }
}
em {
  font-style: italic;
}

p {
  margin: $space-20 0;
  font-size: $text-16;
}

.more-link {
  @extend %fa-chevron-right;
  display: inline-block;
  width: 100%;
  font-size: $text-12;
  text-align: right;
  &:hover {
    text-decoration: none;
    &:after {
      color: darken($sky-blue, 25%);
    }
  }
}
.ajax-progress .throbber {
  &:before {
    @extend %fa-refresh;
    @extend %fa-spin;
  }
}