a {
  text-decoration: none;
  outline: none;
}
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;  
}
header,
footer,
article {
  display: block;
}
* {
  box-sizing: border-box;
}