.search-block {
  margin-bottom: $space-20;
}
.form-item-apachesolr-panels-search-form,
.form-item-search-block-form {
  @extend %fl-left-ext;
  margin-right: $space-10;
  .form-text {
    width: 100%;
    margin-top: 5px;
  }
}
.pane-apachesolr-form,
.pane-search-form {
  .form-actions {
    position: relative;
    display: inline-block;
    input[type="submit"] {
      padding-left: 25px;
      padding-right: 15px;
    }
    &:before {
      @extend %fa-search;
      position: absolute;
      top: 10px;
      left: 9px;
      @include transition(all, 0.4s, ease);
    }
    &:hover:before {
      color: $white;
    }
  }
} 

/* Ugly hack because the core search is used with panels
 and ctools has hardcoded search results markup wrapper.*/
ol.search-results {
  @extend .row;
}