.ad-info-page {
  table {
    p {
      margin: 0;
    }
    .col_0 {
      padding-left: 5px;
    }
  }
  .views-row {
    margin-bottom: $space-40;
  }
  .image-link {
    color: $crimson;
  }
  .views-field-field-ad-properties-note {
    p {
      font-size: $text-14;
    }
  }
}