.page-node-add-offer {
  .heading-wrapper {
    text-align: center;
  }
}
.node-offer-form {
  padding-bottom: 40px;
  .form-item {
    width: 100%;
  }
  .field-name-body {
    @extend %clearfix-ext;
  }
  .field-name-field-offer-images {
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid darken($light-gray, 5%);
    .image-preview {
      img {
        max-width: 70%;
        height: auto;
      }
    }
    table {
      input[type="submit"] {
        @extend %btn-small-ext;
      }
      .image-widget-data {
        max-width: 160px;
        margin-top: $space-20;
        font-size: $text-12;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .field-name-field-address {
    margin-top: $space-20;
    padding-top: $space-20;
    border-top: 1px solid darken($light-gray, 5%);
  }
  .field-name-field-telephone-number {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid darken($light-gray, 5%);
    .compact-form-wrapper {
      margin-bottom: 0;
    }
  }
  .field-name-field-offer-category {
    border-bottom: 1px solid darken($light-gray, 5%);
    padding-bottom: 20px;
  }
  .tabledrag-toggle-weight-wrapper,
  .sticky-table thead,
  .sticky-table .image-widget-data {
    display: none;
  }
  .field-name-field-offer-price {
    width: 50%;
  }
}