.node-offer-form {
  padding-bottom: 40px;
  .field-name-body {
    @extend %clearfix-ext;
  }
  input[type="text"] {
    height: 30px;
  }
  .heading-wrapper {
    margin-bottom: 40px;
    border-bottom: 1px solid darken($light-gray, 10%);
    text-align: center;
    h1 {
      display: inline-block;
    }
  }
  .field-name-field-address {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid darken($light-gray, 5%);
  }
  .field-name-field-telephone-number {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid darken($light-gray, 5%);
    .compact-form-wrapper {
      margin-bottom: 0;
    }
  }
  .field-name-field-offer-category {
    border-bottom: 1px solid darken($light-gray, 5%);
    padding-bottom: 20px;
  }
  .tabledrag-toggle-weight-wrapper,
  .sticky-table thead,
  .sticky-table .image-widget-data {
    display: none;
  }
}