.ad-wrapper {
  .pane-block {
    padding: 0;
    background: none;
  }
}
.ad-small {
  margin-left: $space-20;
}
.simplead-container {
  img {
    height: 200px;
  }
}
.ad-medium {
  margin-left: $space-10;
}
.ad-bottom.ad-small {
  margin-left: $space-10;
  margin-right: $space-10;
}