.pane-node-field-offer-images {
  .bx-wrapper {
    .bx-pager {
      bottom: -75px;
      img {
        max-width: 50px;
      }
    }
  }
}

.view-other-user-offers {
  .bx-wrapper {
    .bx-viewport {
      background: transparent;
    }
    .bx-prev {
      left: -33px;
    }
    .bx-next {
      right: -33px;
    }
    .bx-controls-direction {
      @include breakpoint(medium-x) {
        display: none;
      }
    }
  }
}