.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.center-margin {
  margin: 0 auto;
}
a {
  color: $dark-blue;
  &:hover {
    text-decoration: underline;
  }
}
#main-content {
  margin-top: 40px;
}
body {
  font-size: 16px;
  line-height: 1.2;
  color: $black;
  #admin-menu {
    font-size: $text-14;
  }
}
.main {
  margin-bottom: 60px;
  background: $white;
}
.primary-btn {
  @extend %primary-btn-ext;
}
#messages {
  margin-top: 50px;
}
h1 {
  margin-bottom: 20px;
  color: darken($gray, 30%);
}
h2.pane-title {
  margin-bottom: 10px;
  padding: 5px 0;
}
h3 {
  margin: $space-10 0;
}
h4 {
  padding-bottom: 5px;
  margin-bottom: $space-20;
  border-bottom: 1px solid darken($light-gray, 10%);
}
img {
  max-width: 100%;
  height: auto;
}
strong {  
  color: $black;
}
.heading-wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid darken($light-gray, 10%);
  h1 {
    display: inline-block;
  }
}

table {
  width: 100%;
  thead {
    background: lighten($gray, 10%);
    border-bottom: 1px solid $gray;
    th {
      padding: $space-10 0;
      font-weight: bold;
      color: $white;
      &:first-child {
        padding-left: 5px;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid darken($light-gray, 5%);
      &:nth-child(even) {
        background: $light-gray;
      }
    }
    td {
      padding: $space-20 0;
    }
  }
}
