span.form-required {
  display: none;
}
.form-actions {
  cursor: pointer;
  input {
    background-color: $gold;
    cursor: pointer;
  }
}
label {
  line-height: 1.5;
  color: darken($gray, 15%);
  &.compact-form-label {
    font-size: $text-12;
  }
}
input[type="text"],
input[type="password"],
textarea,
select {
  padding: 2px 0;
  background: $white;
  border: 2px solid lighten($gray, 10%);
  @include box-shadow('0 0 2px #afb1b3');
}
.form-item {
  margin-bottom: 10px;
  @extend %clearfix-ext;
}
select {
  background: $light-gray;
}
textarea {
  width: 100%;
  resize: none;
}