span.form-required {
  display: none;
}
.form-actions {
  cursor: pointer;
}
input[type="submit"] {
  @extend %primary-btn-ext;
  cursor: pointer;
}
label,
.fieldset-legend {
  padding-left: $space-10;
  line-height: 2;
  font-size: $text-14;
  color: darken($gray, 15%);
  &.compact-form-label {
    font-size: $text-14;
  }
}
input[type="text"],
input[type="password"],
textarea {
  padding-left: 12px;
}
input[type="text"],
input[type="password"],
textarea,
select {
  background: $white;
  border: 1px solid lighten($gray, 10%);
  @include box-shadow('0 0 2px #fafafa');
}
.form-wrapper,
.compact-form-wrapper {
  margin-bottom: $space-20;
}
.form-item {
  width: 50%;
  @extend %clearfix-ext;
  input[type="text"],
  select,
  input[type="password"] {
    height: 30px;
    margin-bottom: $space-10;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
  }
}
.hierarchical-select-wrapper .hierarchical-select .selects {
  float: none;
  select {
    margin: 0;
    &:first-child {
      margin-right: 2%;
    }
  }
}
select {
  width: 49%;
  cursor: pointer;
}
.form-type-select {
  label {
    display: block;
  }
}
textarea {
  width: 100%;
  resize: none;
}
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 39px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.customUploadBtn {
  position: relative;
  display: inline-block;
  margin-right: $space-20;
  padding: $space-10;
  @include border-radius(20px);
  color: $white;
  background: $light-blue;
  cursor: pointer;
  @include transition(all, .4s, ease);
  &:hover {
    @include transform(scale(1.1));
  }
}
.form-item-remember-me {
  label {
    padding-left: 0;
  }
}
