.main-header {
  position: relative;
  height: 250px;
  .content {
    position: relative;
    padding-top: 20px;
    z-index: 2;
  }
  .content {
    height: 250px;
  }
}
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-image: url('../images/head.png');
  background-size: 100% 100%;
  background-position: center;
}
.block-user {
  @extend %fl-left-ext;
  margin-left: 10px;
  .form-item {
    @extend %fl-left-ext;
    margin-right: 10px;
  }
  .form-actions {
    position: relative;
    @extend %fl-left-ext;
    input {
      display: block;
      width: 20px;
      height: 20px;
      text-indent: -9999em;
      @extend %round;
    }
  }
  .form-item-remember-me {
    font-size: 12px;
  }
}
.fa-facebook {
  padding: 4px 4px 4px 5px;
  font-size: 11px;
  font-family: 'Roboto';
  color: $white;
  background: #5b74a8;
  border: 1px solid $gray;
  border-color: #2f477a #29447e #1a356e;
  &:hover {
    color: $white;
    background: lighten(#5b74a8, 5%);
  }
}
.logo {
  margin-top: 5px;
  img {
    max-width: 200px;
    height: auto;
  }
}
.help-menu {
  li {
    @extend %fl-left-ext;
    margin-right: 5px;
    border-right: 1px solid $gray;
    &:last-child {
      border-right: 0 none;
    }
  }
  a {
    margin-right: 5px;
    font-size: $text-14;
    color: darken($gray, 10%);
    &:hover {
      color: darken($gray, 25%);
    }
  }
}
.add-offer-link {
  margin-top: 5px;
}
.motto {
  margin-top: 10px;
  padding: 7px 0;
  background-image: url('../images/lenta.png');
  background-position: center;
  background-size: 100% 100%;
  a,
  p {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
  }
  a {
    margin: 0 150px 0 100px;
  }
}