.header-bg {
  width: 100%;
  height: 300px; 
  padding: $space-20 $space-10;
  background-image: url('../images/head.png');
  background-position: center;
  background-size: cover;
  @include box-shadow(0 4px 4px #ccc);
}
.block-user {
  @extend %fl-left-ext;
  .form-item {
    width: auto;
    @extend %fl-left-ext;
    margin-right: 10px;
    input[type="text"],
    input[type="password"] {
      width: 190px;
      height: 25px;      
    }
  }
  .form-wrapper,
  .compact-form-wrapper {
    margin-bottom: 0;
  }
  label {
    font-size: $text-12;
    line-height: 1.5;
  }
  .form-actions {
    position: relative;
    top: 2px;
    @extend %fl-left-ext;
    input {
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      text-indent: -9999em;
      @extend %round;
      background-image: url('../images/arrow-small.png');
      background-repeat: no-repeat;
      background-size: 60% auto;
      background-position: center;
    }
  }
  .form-item-remember-me {
    font-size: 12px;
    line-height: 2;
    input {
      position: relative;
      top: 2px;
    }
  }
}
.fa-facebook {
  margin-right: $space-10;
  padding: 5px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  color: $white;
  background: #5b74a8;
  border: 1px solid $gray;
  border-color: #2f477a #29447e #1a356e;
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
    background: lighten(#5b74a8, 5%);
  }
}
.logo {
  margin: $space-10 0;
  img {
    max-width: 200px;
    height: auto;
  }
}
.menu {
  li {
    @extend %fl-left-ext;
    margin-right: 5px;
    border-right: 1px solid $gray;
    &:last-child {
      border-right: 0 none;
    }
  }
  a {
    @include menu-link();
  }
}
.add-offer-link {
  margin-top: $space-10;
  padding-left: $space-40;
  background-image: url('../images/arrow-small.png');
  background-repeat: no-repeat;
  background-position: 15px center;
  font-size: $text-18;
  .main-header &:hover {
    font-size: 20px;
  }
}
.motto {
  margin-top: $space-10;
  padding: 7px 0;
  text-align: center;
  background-image: url('../images/lenta.png');
  background-position: center;
  background-size: 100% 100%;
  span {
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
  }
}