.container {
  @include breakpoint(small) {
    max-width: 100%;
  }
  @include breakpoint(medium) {
    width: $container-medium;
  }
  @include breakpoint(large) {
    width: $container-large;
  }
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.sidebar-left {
  padding-right: 10px;
}
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding: 0 10px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66%;
}
.col-10 {
  width: 83.33%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-7 {
  width: 58.33%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66%;
}
.col-1 {
  width: 8.33%;
}

%col-8-ext {
  width: 66.66%;
}
%col-4-ext {
  width: 33.33%;
}
%col-3-ext {
  width: 25%;
}
.col-full {
  padding-top: 40px;
  clear: both;
}

/* GRID STYLES UNDER 1024px */
@include breakpoint(medium-x) {
  .col-12-no-fl {
    width: 100%;
    float: none;
  }
}

/* GRID STYLES UNDER 767px */
@include breakpoint(small) {
  .col-12-sm {
    width: 100%;
  }
  .col-11-sm {
    width: 91.66%;
  }
  .col-10-sm {
    width: 83.33%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-8-sm {
    width: 66.66%;
  }
  .col-7-sm {
    width: 58.33%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-5-sm {
    width: 41.66%;
  }
  .col-4-sm {
    width: 33.33%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-2-sm {
    width: 16.66%;
  }
  .col-1-sm {
    width: 8.33%;
  }
}

/* GRID STYLES UNDER 480px (smr) */
@include breakpoint(smaller) {
  .col-12-smr {
    width: 100%;
  }
  .col-11-smr {
    width: 91.66%;
  }
  .col-10-smr {
    width: 83.33%;
  }
  .col-9-smr {
    width: 75%;
  }
  .col-8-smr {
    width: 66.66%;
  }
  .col-7-smr {
    width: 58.33%;
  }
  .col-6-smr {
    width: 50%;
  }
  .col-5-smr {
    width: 41.66%;
  }
  .col-4-smr {
    width: 33.33%;
  }
  .col-3-smr {
    width: 25%;
  }
  .col-2-smr {
    width: 16.66%;
  }
  .col-1-smr {
    width: 8.33%;
  }
}