.container {
  @include breakpoint(medium) {
    width: $container-medium-small;
  }
  @include breakpoint(large-and-medium) {
    width: $container-medium;
  }
  @include breakpoint(large) {
    width: $container-large;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col"] {
  @extend %border-box;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66%;
}
.col-10 {
  width: 83.33%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-7 {
  width: 58.33%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66%;
}
.col-1 {
  width: 8.33%;
}

%col-8-ext {
  width: 66.66%;
}
%col-4-ext {
  width: 33.33%;
}
%col-3-ext {
  width: 25%;
}
