.main-footer {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid $gray;
  clear: both;
  .block-menu {
    display: inline-block;
    padding: 10px 20px;
    background: darken($gray, 10%);
    border-radius: 7px;
    li {
      @extend %fl-left-ext;
      margin-right: 10px;
      border-right: 1px solid $white;
      &:last-child {
        margin-right: 0;
        border-right: 0 none;
        a {
          margin-right: 0;
        }
      }
    }
    a {
      margin-right: 10px;
      text-transform: uppercase;
      font-size: $text-14;
      color: $white;
    }
  }
}
.motto-logo {
  display: inline-block;
}
.motto-logo {
  min-width: 340px;
  .logo {
    margin-top: 5px;
    img {
      width: 60px;
      height: auto;
    }
  }
  p {
    @extend %fl-right-ext;
    line-height: 2.4;
    font-size: $text-12;
    color: $crimson;
  }
}