.pane-views-offer-listing-block {
 .pane-title {
  margin-top: 20px;
 }
}

.view-offer-listing {
  .view-content {
    @extend %clearfix-ext;
  }
  .views-row {
    margin-bottom: 30px;
    padding: 0 10px;
  }
  .views-field-field-offer-images {
    padding-top: 5px;
    text-align: center;
    border: solid lighten($gray, 10%);
    border-width: 1px 1px 0 1px;
    img {
      @include border-radius(3px);
    }
  }
  .views-field-title {
    padding: 10px 5px;
    border: solid lighten($gray, 10%);
    border-width: 0 1px 1px 1px;
  }
}