.pane-block {
  position: relative;
  margin-bottom: $space-10;
  padding: $space-10;
  background: $sky-blue;
  color: $text-gray;
}
.panel-pane {
  h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid darken($light-gray, 10%);
  }
  h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid darken($light-gray, 10%);
  }
}
.pane-node-comments {
  margin-top: $space-40;
}