a {
  text-decoration: none;
  outline: none;
}
input[type="submit"],
input[type="text"],
input[type="password"],
textarea,
select {
  border: 0;
  @extend %border-box;
  padding: 0;
  outline: none;  
}
header,
footer,
article {
  display: block;
}
div {
  @extend %border-box;
}
