.terms-block {
  .pane-title {
    text-align: center;
    color: $white;
    background: darken($sky-blue, 25%);
  }
  a {
    color: darken($gray, 15%);
    &.active {
      &:before {
        position: absolute;
        content: '';
        display: inline-block;
        left: 0;
        border-style: solid;
        border-width: 8px;
        border-color: transparent;
        border-left-color: darken($sky-blue, 25%);
      }
    } 
  }
  .pane-content > ul {
    & > .first > a {
      text-transform: uppercase;
    }
    & > li {
      margin-bottom: 20px;
      &  > a {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        border-bottom: 2px solid darken($gray, 15%);
      }
    }
  }
}