$container-large: 960px;
$container-medium: 767px;

$fa-font-path: "../font-awesome";
$fa-version:   "4.2.0" !default;

$dark-blue: #0e2c4b;
$light-blue: #35afba;
$sky-blue: #eaf8f9;
$gray: #afb1b3;
$text-gray: #434343;
$light-gray: #fafafa;
$purple: #d93ed4;
$white: #fff;
$gold: #fae019;
$crimson: #db2a1a;
$black: #050800;
$green: #61C668;

$text-22: 22px;
$text-18: 18px;
$text-16: 16px;
$text-14: 14px;
$text-12: 12px;
$text-10: 10px;

$space-7: 7px;
$space-10: 10px;
$space-14: 14px;
$space-20: 20px;
$space-40: 40px;
