$container-large: 960px;
$container-medium: 990px;
$container-medium-small: 760px;

$fa-font-path: "../font-awesome";
$fa-version:   "4.2.0" !default;

$dark-blue: #0e2c4b;
$light-blue: #35AFBA;
$gray: #afb1b3;
$light-gray: #fafafa;
$purple: #d93ed4;
$white: #fff;
$gold: #fae019;
$crimson: #db2a1a;
$black: #050800;

$text-22: 22px;
$text-16: 16px;
$text-14: 14px;
$text-12: 12px;

$space-7: 7px;
$space-14: 14px;
$space-21: 21px;
$space-42: 42px;
