/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_reset.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 5, ../sass/_reset.scss */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 18, ../sass/_reset.scss */
header,
footer,
article {
  display: block;
}

/* Base 16px */
/* 22px*/
/* line 1, ../sass/_extends.scss */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div, .col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../sass/_extends.scss */
.block-user, .block-user .form-item, .block-user .form-actions, .menu li, .main-footer .block-menu li, .form-item-apachesolr-panels-search-form,
.form-item-search-block-form, .node-forum .user-picture {
  float: left;
}

/* line 21, ../sass/_extends.scss */
.motto-logo span, .password-strength, .password-strength-text {
  float: right;
}

/* line 24, ../sass/_extends.scss */
.form-item:after, .node-offer-form .field-name-body:after, .grid-listing-container .view-content:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 29, ../sass/_extends.scss */
.btn-small, .node-offer-form .field-name-field-offer-images table input[type="submit"], .primary-btn, input[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #050800;
  border-radius: 20px;
  background: #fae019;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 2px 2px #afb1b3;
  cursor: pointer;
}
/* line 39, ../sass/_extends.scss */
.btn-small:hover, .node-offer-form .field-name-field-offer-images table input[type="submit"]:hover, .primary-btn:hover, input[type="submit"]:hover {
  color: #fff;
  background-color: #35afba;
  text-decoration: none;
}

/* line 45, ../sass/_extends.scss */
.btn-small, .node-offer-form .field-name-field-offer-images table input[type="submit"] {
  padding: 7px 10px;
  font-size: 0.875rem;
}

/* line 50, ../sass/_extends.scss */
.block-user .form-actions input {
  border-radius: 50%;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../font-awesome/fontawesome-webfont.eot?v=4.2.0");
  src: url("../font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../font-awesome/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../font-awesome/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../font-awesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../sass/_font-awesome.scss */
.fa:before, .view-user-offers tbody .views-field-delete-node a:before, .view-user-offers tbody .views-field-edit-node a:before, .ajax-progress .throbber:before, .node-type-offer .author-name:before,
.fa:after,
.more-link:after,
.node-type-offer .author-name:after,
.pane-apachesolr-form .form-actions:before,
.pane-search-form .form-actions:before {
  font-family: 'FontAwesome';
  line-height: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 21, ../sass/_font-awesome.scss */
.ajax-progress .throbber:before {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 25, ../sass/_font-awesome.scss */
.fa-user:before, .node-type-offer .author-name:before {
  content: '\f007';
}

/* line 28, ../sass/_font-awesome.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 31, ../sass/_font-awesome.scss */
.fa-facebook:before {
  content: "\f09a";
  margin-right: 5px;
  color: #fff;
}

/* line 42, ../sass/_font-awesome.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 45, ../sass/_font-awesome.scss */
.more-link:after {
  content: "\f054";
  margin-left: 5px;
}

/* line 50, ../sass/_font-awesome.scss */
.view-user-offers tbody .views-field-delete-node a:before {
  content: "\f1f8";
}

/* line 54, ../sass/_font-awesome.scss */
.view-user-offers tbody .views-field-edit-node a:before {
  content: "\f044";
}

/* line 58, ../sass/_font-awesome.scss */
.ajax-progress .throbber:before {
  content: "\f021";
}

/* line 1, ../sass/_layout.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    width: 767px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    width: 960px;
  }
}

/* line 15, ../sass/_layout.scss */
.row, ol.search-results {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 19, ../sass/_layout.scss */
.sidebar-left {
  padding-right: 10px;
}

/* line 22, ../sass/_layout.scss */
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding: 0 10px;
}

/* line 37, ../sass/_layout.scss */
.col-12 {
  width: 100%;
}

/* line 40, ../sass/_layout.scss */
.col-11 {
  width: 91.66%;
}

/* line 43, ../sass/_layout.scss */
.col-10 {
  width: 83.33%;
}

/* line 46, ../sass/_layout.scss */
.col-9 {
  width: 75%;
}

/* line 49, ../sass/_layout.scss */
.col-8 {
  width: 66.66%;
}

/* line 52, ../sass/_layout.scss */
.col-7 {
  width: 58.33%;
}

/* line 55, ../sass/_layout.scss */
.col-6 {
  width: 50%;
}

/* line 58, ../sass/_layout.scss */
.col-5 {
  width: 41.66%;
}

/* line 61, ../sass/_layout.scss */
.col-4 {
  width: 33.33%;
}

/* line 64, ../sass/_layout.scss */
.col-3 {
  width: 25%;
}

/* line 67, ../sass/_layout.scss */
.col-2 {
  width: 16.66%;
}

/* line 70, ../sass/_layout.scss */
.col-1 {
  width: 8.33%;
}

/* line 83, ../sass/_layout.scss */
.col-full {
  padding-top: 40px;
  clear: both;
}

/* line 1, ../sass/_common.scss */
.fl-left {
  float: left;
}

/* line 4, ../sass/_common.scss */
.fl-right {
  float: right;
}

/* line 7, ../sass/_common.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 12, ../sass/_common.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 18, ../sass/_common.scss */
.center-margin {
  margin: 0 auto;
}

/* line 21, ../sass/_common.scss */
a {
  color: #0e2c4b;
}
/* line 23, ../sass/_common.scss */
a:visited {
  color: #2a2a2a;
}
/* line 26, ../sass/_common.scss */
a:hover {
  text-decoration: underline;
}
/* line 29, ../sass/_common.scss */
a:active {
  color: #db2a1a;
}

/* line 33, ../sass/_common.scss */
#main-content {
  margin-top: 40px;
}

/* line 36, ../sass/_common.scss */
body {
  color: #050800;
}
/* line 38, ../sass/_common.scss */
body #admin-menu {
  font-size: 0.875rem;
}

/* line 42, ../sass/_common.scss */
.main {
  margin-bottom: 60px;
  background: #fff;
}

/* line 52, ../sass/_common.scss */
#messages {
  margin-top: 50px;
}

/* line 55, ../sass/_common.scss */
h1 {
  margin-bottom: 20px;
  color: #626467;
}

/* line 59, ../sass/_common.scss */
h2.pane-title,
h2 {
  margin-bottom: 10px;
  padding: 5px 0;
}

/* line 64, ../sass/_common.scss */
h2 {
  color: #626467;
}

/* line 67, ../sass/_common.scss */
h3 {
  margin: 10px 0;
}

/* line 70, ../sass/_common.scss */
h4 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

/* line 75, ../sass/_common.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 79, ../sass/_common.scss */
strong {
  color: #050800;
  font-weight: bold;
}

/* line 83, ../sass/_common.scss */
.heading-wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 86, ../sass/_common.scss */
.heading-wrapper h1 {
  display: inline-block;
}

/* line 91, ../sass/_common.scss */
table {
  width: 100%;
}
/* line 93, ../sass/_common.scss */
table thead {
  background: #c9cbcc;
  border-bottom: 1px solid #afb1b3;
}
/* line 96, ../sass/_common.scss */
table thead th {
  padding: 10px 0;
  font-weight: bold;
  color: #fff;
}
/* line 100, ../sass/_common.scss */
table thead th:first-child {
  padding-left: 5px;
}
/* line 106, ../sass/_common.scss */
table tbody tr {
  border-bottom: 1px solid #ededed;
}
/* line 108, ../sass/_common.scss */
table tbody tr:nth-child(even) {
  background: #fafafa;
}
/* line 112, ../sass/_common.scss */
table tbody td {
  padding: 20px 0;
}

/* line 117, ../sass/_common.scss */
em {
  font-style: italic;
}

/* line 121, ../sass/_common.scss */
p {
  margin: 20px 0;
  font-size: 1rem;
}

/* line 126, ../sass/_common.scss */
.more-link {
  display: inline-block;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
}
/* line 132, ../sass/_common.scss */
.more-link:hover {
  text-decoration: none;
}
/* line 134, ../sass/_common.scss */
.more-link:hover:after {
  color: #87d7dd;
}

/* line 1, ../sass/_typography.scss */
html {
  font-size: 16px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/_typography.scss */
  html {
    font-size: 14px;
  }
}

/* line 7, ../sass/_typography.scss */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}

/* line 11, ../sass/_typography.scss */
h1 {
  font-size: 1.75rem;
}

/* line 14, ../sass/_typography.scss */
h2 {
  font-size: 1.3125rem;
}

/* line 17, ../sass/_typography.scss */
h3 {
  font-size: 1.125rem;
}

/* line 20, ../sass/_typography.scss */
h4 {
  font-size: 1rem;
}

/* line 23, ../sass/_typography.scss */
h5 {
  font-size: 0.875rem;
}

/* line 26, ../sass/_typography.scss */
h6 {
  font-size: 0.75rem;
}

/* line 1, ../sass/_header.scss */
.header-bg {
  width: 100%;
  height: 300px;
  padding: 20px 10px;
  background-image: url("../images/head.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px #ccc;
}

@media (max-width: 767px) {
  /* line 10, ../sass/_header.scss */
  .block-user {
    float: none;
  }
}
/* line 15, ../sass/_header.scss */
.block-user .form-item {
  width: auto;
  margin-right: 10px;
}
/* line 19, ../sass/_header.scss */
.block-user .form-item input[type="text"],
.block-user .form-item input[type="password"] {
  width: 190px;
  height: 25px;
}
/* line 25, ../sass/_header.scss */
.block-user .form-wrapper,
.block-user .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 29, ../sass/_header.scss */
.block-user label {
  font-size: 0.75rem;
  line-height: 1.5;
}
/* line 33, ../sass/_header.scss */
.block-user .form-actions {
  position: relative;
  top: 2px;
}
/* line 37, ../sass/_header.scss */
.block-user .form-actions input {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  text-indent: -9999em;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}
/* line 50, ../sass/_header.scss */
.block-user .form-item-remember-me {
  font-size: 12px;
  line-height: 2;
}
@media (max-width: 1024px) {
  /* line 50, ../sass/_header.scss */
  .block-user .form-item-remember-me {
    clear: left;
  }
}
/* line 56, ../sass/_header.scss */
.block-user .form-item-remember-me input {
  position: relative;
  top: 2px;
}
@media (max-width: 1024px) {
  /* line 62, ../sass/_header.scss */
  .block-user .form-type-password {
    clear: left;
  }
}

/* line 67, ../sass/_header.scss */
.fa-facebook {
  margin-right: 10px;
  padding: 5px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background: #5b74a8;
  border: 1px solid #afb1b3;
  border-color: #2f477a #29447e #1a356e;
}
/* line 76, ../sass/_header.scss */
.fa-facebook:visited {
  color: #fff;
}
/* line 79, ../sass/_header.scss */
.fa-facebook:hover {
  color: #fff;
  background: #6c82b1;
}
@media (max-width: 1024px) {
  /* line 67, ../sass/_header.scss */
  .fa-facebook {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
}

/* line 89, ../sass/_header.scss */
.logo {
  margin: 10px 0;
}
/* line 91, ../sass/_header.scss */
.logo img {
  max-width: 200px;
  height: auto;
}

/* line 97, ../sass/_header.scss */
.menu li {
  margin-right: 5px;
  border-right: 1px solid #afb1b3;
}
/* line 101, ../sass/_header.scss */
.menu li:last-child {
  border-right: 0 none;
}
/* line 105, ../sass/_header.scss */
.menu a {
  margin-right: 5px;
  font-size: 0.875rem;
  color: #95989a;
}
/* line 45, ../sass/_mixins.scss */
.menu a:visited {
  color: #6e7174;
}
/* line 48, ../sass/_mixins.scss */
.menu a:hover {
  color: #6e7174;
}

/* line 109, ../sass/_header.scss */
.add-offer-link {
  margin-top: 10px;
  padding-left: 40px;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  font-size: 1.125rem;
}
/* line 116, ../sass/_header.scss */
.main-header .add-offer-link:hover {
  font-size: 20px;
}

/* line 120, ../sass/_header.scss */
.motto {
  margin-top: 10px;
  padding: 7px 0;
  text-align: center;
  background-image: url("../images/lenta.png");
  background-position: center;
  background-size: 100% 100%;
}
/* line 127, ../sass/_header.scss */
.motto span {
  text-transform: uppercase;
  font-weight: bold;
  color: #050800;
}

@media (max-width: 767px) {
  /* line 135, ../sass/_header.scss */
  .page-user .help-menu {
    float: left;
  }
  /* line 138, ../sass/_header.scss */
  .help-menu a {
    color: #494b4d;
    font-weight: bold;
  }

  /* line 144, ../sass/_header.scss */
  .main-header .logo {
    position: absolute;
    top: 45px;
    right: 20px;
  }
  /* line 148, ../sass/_header.scss */
  .main-header .logo img {
    max-width: 150px;
  }

  /* line 154, ../sass/_header.scss */
  .page-user .add-offer-link {
    float: left;
  }
  /* line 157, ../sass/_header.scss */
  .page-user .fa-facebook {
    float: left;
  }
}
@media (max-width: 480px) {
  /* line 163, ../sass/_header.scss */
  .help-menu {
    float: none;
    clear: left;
  }
  /* line 166, ../sass/_header.scss */
  .help-menu li {
    float: none;
    margin-bottom: 10px;
    border-right: 0 none;
  }

  /* line 173, ../sass/_header.scss */
  .main-header .logo {
    top: 10px;
    right: auto;
    left: 95px;
  }
}
/* line 1, ../sass/_main-footer.scss */
.main-footer {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #afb1b3;
  clear: both;
}
@media (max-width: 480px) {
  /* line 1, ../sass/_main-footer.scss */
  .main-footer {
    margin-bottom: 10px;
  }
}
/* line 9, ../sass/_main-footer.scss */
.main-footer .block-menu {
  display: inline-block;
  padding: 10px 20px;
  background: #95989a;
  border-radius: 7px;
}
@media (max-width: 480px) {
  /* line 9, ../sass/_main-footer.scss */
  .main-footer .block-menu {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
}
/* line 20, ../sass/_main-footer.scss */
.main-footer .block-menu li {
  margin-right: 10px;
  border-right: 1px solid #fff;
}
/* line 24, ../sass/_main-footer.scss */
.main-footer .block-menu li:last-child {
  margin-right: 0;
  border-right: 0 none;
}
/* line 27, ../sass/_main-footer.scss */
.main-footer .block-menu li:last-child a {
  margin-right: 0;
}
@media (max-width: 480px) {
  /* line 20, ../sass/_main-footer.scss */
  .main-footer .block-menu li {
    float: none;
    border-right: 0 none;
  }
}
/* line 36, ../sass/_main-footer.scss */
.main-footer .block-menu a {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff;
}
@media (max-width: 480px) {
  /* line 36, ../sass/_main-footer.scss */
  .main-footer .block-menu a {
    display: inline-block;
    padding: 5px 0;
  }
}

/* line 48, ../sass/_main-footer.scss */
.motto-logo {
  display: inline-block;
  min-width: 340px;
}
@media (max-width: 767px) {
  /* line 48, ../sass/_main-footer.scss */
  .motto-logo {
    min-width: initial;
  }
}
/* line 54, ../sass/_main-footer.scss */
.motto-logo .logo {
  margin-top: 0;
}
/* line 56, ../sass/_main-footer.scss */
.motto-logo .logo img {
  width: 60px;
}
/* line 60, ../sass/_main-footer.scss */
.motto-logo span {
  line-height: 1.5;
  font-size: 0.75rem;
  color: #db2a1a;
}
@media (max-width: 767px) {
  /* line 60, ../sass/_main-footer.scss */
  .motto-logo span {
    max-width: 70%;
  }
}

/* line 1, ../sass/_forms.scss */
span.form-required {
  display: none;
}

/* line 4, ../sass/_forms.scss */
.form-actions {
  cursor: pointer;
}
/* line 6, ../sass/_forms.scss */
.form-actions input {
  margin-right: 10px;
}

/* line 10, ../sass/_forms.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 14, ../sass/_forms.scss */
label,
.fieldset-legend {
  line-height: 2;
  font-size: 0.875rem;
  color: #888b8e;
}
/* line 19, ../sass/_forms.scss */
label.compact-form-label,
.fieldset-legend.compact-form-label {
  font-size: 0.875rem;
}

/* line 23, ../sass/_forms.scss */
input[type="text"],
input[type="password"],
textarea {
  padding-left: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 28, ../sass/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 0 2px #c9cbcc;
}

/* line 33, ../sass/_forms.scss */
input[type="text"],
input[type="password"],
textarea,
select {
  background: #fff;
  border: 1px solid #c9cbcc;
  box-shadow: 0 0 4px #c9cbcc inset;
}

/* line 41, ../sass/_forms.scss */
.form-wrapper,
.compact-form-wrapper {
  margin-bottom: 20px;
}

/* line 45, ../sass/_forms.scss */
.form-item {
  width: 50%;
  margin-bottom: 10px;
}
/* line 49, ../sass/_forms.scss */
.form-item input[type="text"],
.form-item select,
.form-item input[type="password"] {
  height: 30px;
  margin-bottom: 10px;
}
/* line 55, ../sass/_forms.scss */
.form-item input[type="text"],
.form-item input[type="password"] {
  display: block;
  max-width: 100%;
}
/* line 60, ../sass/_forms.scss */
.form-item .form-item {
  width: 100%;
}

/* line 64, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects {
  float: none;
}
/* line 66, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select {
  margin: 0;
}
/* line 68, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select:first-child {
  margin-right: 2%;
}

/* line 73, ../sass/_forms.scss */
select {
  width: 49%;
  cursor: pointer;
}

/* line 78, ../sass/_forms.scss */
.form-type-select label {
  display: block;
}

/* line 82, ../sass/_forms.scss */
textarea {
  width: 100%;
  padding-top: 5px;
  resize: none;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}

/* line 90, ../sass/_forms.scss */
.bootstrap-filestyle {
  margin-top: 20px;
}
/* line 92, ../sass/_forms.scss */
.bootstrap-filestyle input[type="text"] {
  display: inline-block;
}

/* line 98, ../sass/_forms.scss */
.form-item-remember-me label {
  padding-left: 0;
}

/* line 2, ../sass/_add-offer-form.scss */
.page-node-add-offer .heading-wrapper {
  text-align: center;
}

/* line 6, ../sass/_add-offer-form.scss */
.node-offer-form {
  padding-bottom: 40px;
}
/* line 8, ../sass/_add-offer-form.scss */
.node-offer-form .form-item {
  width: 100%;
}
/* line 14, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}
/* line 19, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images .image-preview img {
  max-width: 70%;
  height: auto;
}
/* line 28, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images table .image-widget-data {
  max-width: 160px;
  margin-top: 10px;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 38, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-address {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}
/* line 43, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
/* line 47, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 51, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-category {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}
/* line 55, ../sass/_add-offer-form.scss */
.node-offer-form .tabledrag-toggle-weight-wrapper,
.node-offer-form .sticky-table thead,
.node-offer-form .sticky-table .image-widget-data {
  display: none;
}
/* line 60, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-price {
  width: 50%;
}

/* line 2, ../sass/_grid-listing.scss */
.grid-listing-container h3 {
  margin: 0;
}
/* line 5, ../sass/_grid-listing.scss */
.grid-listing-container .pane-title {
  margin-top: 10px;
}
/* line 11, ../sass/_grid-listing.scss */
.grid-listing-container .views-row {
  margin-bottom: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 14, ../sass/_grid-listing.scss */
.grid-listing-container .views-row:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 18, ../sass/_grid-listing.scss */
.grid-listing-container .grid-images {
  padding-top: 5px;
  text-align: center;
  border: solid #c9cbcc;
  border-width: 1px 1px 0 1px;
}
/* line 23, ../sass/_grid-listing.scss */
.grid-listing-container .grid-images img {
  max-width: 208px;
  border-radius: 3px;
}
/* line 28, ../sass/_grid-listing.scss */
.grid-listing-container .views-field-title,
.grid-listing-container .views-field-name {
  padding: 5px;
  border: solid #c9cbcc;
}
/* line 33, ../sass/_grid-listing.scss */
.grid-listing-container .views-field-title {
  border-width: 0 1px 0 1px;
}
/* line 36, ../sass/_grid-listing.scss */
.grid-listing-container .views-field-name {
  padding-top: 0;
  border-width: 0 1px 1px 1px;
  font-size: 0.875rem;
}

/* line 2, ../sass/_panels.scss */
.panel-pane h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 6, ../sass/_panels.scss */
.panel-pane h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}

/* line 11, ../sass/_panels.scss */
.pane-node-comments {
  margin-top: 40px;
}

/* line 1, ../sass/_sidebar_block.scss */
.sidebar-block {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background: #eaf8f9;
  color: #434343;
}
/* line 7, ../sass/_sidebar_block.scss */
.sidebar-block .pane-title {
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  background: #87d7dd;
}
/* line 13, ../sass/_sidebar_block.scss */
.sidebar-block a {
  color: #888b8e;
}
/* line 19, ../sass/_sidebar_block.scss */
.sidebar-block .pane-content ul li {
  line-height: 1.2;
}
/* line 22, ../sass/_sidebar_block.scss */
.sidebar-block .pane-content ul li.active:before {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  border-style: solid;
  border-width: 8px;
  border-color: transparent;
  border-left-color: #87d7dd;
}
/* line 36, ../sass/_sidebar_block.scss */
.sidebar-block .pane-content > ul > .first > a {
  /* The heading of each section. */
  text-transform: uppercase;
}
/* line 39, ../sass/_sidebar_block.scss */
.sidebar-block .pane-content > ul > li {
  /* The items. */
  margin-bottom: 20px;
}
/* line 41, ../sass/_sidebar_block.scss */
.sidebar-block .pane-content > ul > li > a {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #888b8e;
}

/* line 1, ../sass/_pager.scss */
.pager {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 5, ../sass/_pager.scss */
.pager li {
  display: inline-block;
}
/* line 8, ../sass/_pager.scss */
.pager .pager-current {
  text-decoration: underline;
}

/* line 2, ../sass/_ads.scss */
.ad-wrapper .pane-block {
  padding: 0;
  background: none;
}

/* line 7, ../sass/_ads.scss */
.ad-small {
  margin-left: 20px;
}

/* line 11, ../sass/_ads.scss */
.simplead-container img {
  height: 200px;
}

/* line 15, ../sass/_ads.scss */
.ad-medium {
  margin-left: 10px;
}

/* line 18, ../sass/_ads.scss */
.ad-bottom.ad-small {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 1, ../sass/_search.scss */
.form-item-apachesolr-panels-search-form,
.form-item-search-block-form {
  margin-right: 10px;
}
/* line 5, ../sass/_search.scss */
.form-item-apachesolr-panels-search-form .form-text,
.form-item-search-block-form .form-text {
  width: 100%;
  margin-top: 5px;
}

/* line 12, ../sass/_search.scss */
.pane-apachesolr-form .form-actions,
.pane-search-form .form-actions {
  position: relative;
  display: inline-block;
}
/* line 15, ../sass/_search.scss */
.pane-apachesolr-form .form-actions input[type="submit"],
.pane-search-form .form-actions input[type="submit"] {
  padding-left: 25px;
  padding-right: 15px;
}
/* line 19, ../sass/_search.scss */
.pane-apachesolr-form .form-actions:before,
.pane-search-form .form-actions:before {
  content: '\f002';
  position: absolute;
  top: 10px;
  left: 9px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 26, ../sass/_search.scss */
.pane-apachesolr-form .form-actions:hover:before,
.pane-search-form .form-actions:hover:before {
  color: #fff;
}

/* Ugly hack because the core search is used with panels
 and ctools has hardcoded search results markup wrapper.*/
/* line 1, ../sass/_offer.scss */
.pane-node-body {
  padding: 40px 0;
  border-bottom: 1px solid #ededed;
}
/* line 4, ../sass/_offer.scss */
.pane-node-body .pane-content {
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

/* line 11, ../sass/_offer.scss */
.pane-node-field-offer-price .field-item {
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 18, ../sass/_offer.scss */
.node-type-offer .sidebar-block .pane-title,
.node-type-offer .sidebar-block .pane-content {
  display: inline-block;
}
/* line 22, ../sass/_offer.scss */
.node-type-offer .sidebar-block .pane-title {
  font-size: 1rem;
  background: none;
  color: #434343;
}
/* line 27, ../sass/_offer.scss */
.node-type-offer .sidebar-block .pane-content {
  font-size: 0.875rem;
}
/* line 34, ../sass/_offer.scss */
.node-type-offer .author-name:before {
  font-size: 1.125rem;
}
/* line 39, ../sass/_offer.scss */
.node-type-offer .picture img {
  max-width: 70px;
}
/* line 43, ../sass/_offer.scss */
.node-type-offer .author-offline,
.node-type-offer .author-online,
.node-type-offer .author-last-seen,
.node-type-offer .author-joined {
  display: none;
}
/* line 50, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-title {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 56, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-content {
  display: block;
}
/* line 61, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .view-content {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 0;
}
/* line 66, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-row {
  display: inline-block;
  vertical-align: top;
  width: 33.333333%;
  padding: 5px;
}
/* line 72, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-field-title {
  font-size: 0.875rem;
}

/* Login Form */
/* line 3, ../sass/_login-register.scss */
.register-link-wrapper {
  margin: 20px 0;
}

/* line 3, ../sass/_bx-slider.scss */
.pane-node-field-offer-images .bx-wrapper .bx-pager {
  bottom: -75px;
}
/* line 5, ../sass/_bx-slider.scss */
.pane-node-field-offer-images .bx-wrapper .bx-pager img {
  max-width: 50px;
}

/* line 14, ../sass/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-viewport {
  background: transparent;
}
/* line 17, ../sass/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-prev {
  left: -33px;
}
/* line 20, ../sass/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-next {
  right: -33px;
}

/* line 1, ../sass/_comments.scss */
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
/* line 5, ../sass/_comments.scss */
.comment h2.title {
  margin-bottom: 10px;
}
/* line 8, ../sass/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 11, ../sass/_comments.scss */
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  vertical-align: top;
  overflow: hidden;
}
/* line 16, ../sass/_comments.scss */
.comment .attribution img {
  max-width: 50px;
  margin: 0;
}
/* line 20, ../sass/_comments.scss */
.comment .attribution .username {
  word-wrap: break-word;
}
/* line 24, ../sass/_comments.scss */
.comment .submitted {
  width: 80px;
}
/* line 26, ../sass/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  font-size: 1rem;
  line-height: 1.2;
}
/* line 31, ../sass/_comments.scss */
.comment .submitted .comment-time {
  font-size: 0.75rem;
  color: #434343;
}
/* line 35, ../sass/_comments.scss */
.comment .submitted .comment-permalink {
  font-size: 0.625rem;
}
/* line 39, ../sass/_comments.scss */
.comment .content {
  font-size: 0.875rem;
  line-height: 1.6;
}
/* line 43, ../sass/_comments.scss */
.comment .comment-arrow {
  position: absolute;
  left: -40px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent;
  border-right-color: #e1e1e1;
}
/* line 50, ../sass/_comments.scss */
.comment .comment-arrow:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px;
  border-color: transparent;
  border-right-color: #fff;
  left: -18px;
  top: -19px;
}
/* line 61, ../sass/_comments.scss */
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #e1e1e1;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
/* line 69, ../sass/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 72, ../sass/_comments.scss */
.comment ul.links {
  padding: 0 0 10px 0;
  font-size: 0.75rem;
}
/* line 76, ../sass/_comments.scss */
.comment li {
  padding: 20px 0 10px;
}

/* line 80, ../sass/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

/* line 2, ../sass/_forum.scss */
.node-forum .user-picture {
  margin-right: 10px;
}
/* line 6, ../sass/_forum.scss */
.node-forum .submitted {
  font-size: 0.875rem;
}
/* line 9, ../sass/_forum.scss */
.node-forum .content {
  padding-top: 20px;
  clear: both;
}
/* line 13, ../sass/_forum.scss */
.node-forum .field-name-taxonomy-forums {
  margin-bottom: 20px;
  font-size: 1.125rem;
}
/* line 17, ../sass/_forum.scss */
.node-forum .field-name-body {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

/* Forums */
/* line 26, ../sass/_forum.scss */
#forum .submitted,
#forum .posts,
#forum .topics {
  font-size: 0.875rem;
}
/* line 31, ../sass/_forum.scss */
#forum .posts,
#forum .topics {
  text-align: center;
}

/* line 1, ../sass/_user.scss */
.user-menu {
  display: inline-block;
  vertical-align: top;
}
/* line 4, ../sass/_user.scss */
.user-menu a {
  margin-right: 5px;
  font-size: 0.875rem;
  color: #95989a;
}
/* line 45, ../sass/_mixins.scss */
.user-menu a:visited {
  color: #6e7174;
}
/* line 48, ../sass/_mixins.scss */
.user-menu a:hover {
  color: #6e7174;
}

/* line 8, ../sass/_user.scss */
.user-name {
  display: inline-block;
  font-weight: bold;
}

/* line 13, ../sass/_user.scss */
.header-user-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
/* line 17, ../sass/_user.scss */
.header-user-picture img {
  display: block;
  max-width: 30px;
  box-shadow: 2px 3px 3px #afb1b3;
}

/* line 24, ../sass/_user.scss */
.user-picture img {
  box-shadow: 2px 3px 3px #afb1b3;
}

/* USER EDIT FORM */
/* line 30, ../sass/_user.scss */
.description {
  font-size: 0.75rem;
  color: #434343;
}

/* line 34, ../sass/_user.scss */
.password-strength {
  width: 50%;
}
/* line 37, ../sass/_user.scss */
.password-strength .password-indicator {
  height: 5px;
  background: #afb1b3;
}
/* line 41, ../sass/_user.scss */
.password-strength .indicator {
  width: 0%;
  height: 100%;
  background: #61C668;
}

/* line 47, ../sass/_user.scss */
.password-strength-text,
.password-strength-title,
.password-confirm {
  font-size: 0.875rem;
  line-height: 2;
}

/* line 53, ../sass/_user.scss */
.password-strength-title {
  display: inline;
  color: #434343;
}

/* line 1, ../sass/_quicktabs.scss */
ul.quicktabs-tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid #afb1b3;
  box-shadow: 0px 4px 4px -4px #DDD9D9;
}
/* line 5, ../sass/_quicktabs.scss */
ul.quicktabs-tabs li {
  display: inline-block;
  padding: 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #afb1b3;
  border-radius: 2px 2px 0 0;
}
/* line 12, ../sass/_quicktabs.scss */
ul.quicktabs-tabs li.active {
  border-color: #6e7174;
  -webkit-transition: border 0.2s ease-in;
  -moz-transition: border 0.2s ease-in;
  -ms-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
/* line 16, ../sass/_quicktabs.scss */
ul.quicktabs-tabs li a {
  display: inline-block;
  padding: 5px;
}
/* line 19, ../sass/_quicktabs.scss */
ul.quicktabs-tabs li a:hover {
  text-decoration: none;
}

/* line 2, ../sass/_views-filters.scss */
.views-exposed-form .form-type-select,
.views-exposed-form select {
  width: 100%;
  max-width: 150px;
}
/* line 8, ../sass/_views-filters.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 20px;
}

/* line 2, ../sass/_view-user-offers.scss */
.view-user-offers .views-field-delete-node,
.view-user-offers .views-field-edit-node {
  text-align: center;
}
/* line 7, ../sass/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node,
.view-user-offers tbody .views-field-edit-node {
  font-size: 0;
}
/* line 12, ../sass/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:hover,
.view-user-offers tbody .views-field-edit-node a:hover {
  text-decoration: none;
}
/* line 14, ../sass/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:hover:before,
.view-user-offers tbody .views-field-edit-node a:hover:before {
  color: #e84e40;
  font-size: 1.375rem;
}
/* line 23, ../sass/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:before {
  font-size: 1.125rem;
}
/* line 30, ../sass/_view-user-offers.scss */
.view-user-offers tbody .views-field-edit-node a:before {
  font-size: 1.125rem;
}

/* line 2, ../sass/_confirmation.scss */
.confirmation .form-actions {
  margin-top: 20px;
}

/* line 3, ../sass/_ad-info-page.scss */
.ad-info-page table p {
  margin: 0;
}
/* line 6, ../sass/_ad-info-page.scss */
.ad-info-page table .col_0 {
  padding-left: 5px;
}
/* line 10, ../sass/_ad-info-page.scss */
.ad-info-page .views-row {
  margin-bottom: 40px;
}
/* line 13, ../sass/_ad-info-page.scss */
.ad-info-page .image-link {
  color: #db2a1a;
}
/* line 17, ../sass/_ad-info-page.scss */
.ad-info-page .views-field-field-ad-properties-note p {
  font-size: 0.875rem;
}
