@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_reset.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 5, ../sass/base/_reset.scss */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 17, ../sass/base/_reset.scss */
header,
footer,
article {
  display: block;
}

/* line 22, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* Base 16px */
/* 22px*/
/* line 18, ../sass/helpers/_extends.scss */
.node-forum .user-picture, .form-item-apachesolr-panels-search-form,
.form-item-search-block-form, .block-user, .block-user .form-item, .block-user .form-actions, .menu li, .main-footer .block-menu li {
  float: left;
}

/* line 21, ../sass/helpers/_extends.scss */
.password-strength-text, .motto-logo span {
  float: right;
}

/* line 24, ../sass/helpers/_extends.scss */
.grid-listing-container .view-content:after, .form-item:after, .node-offer-form .field-name-body:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 29, ../sass/helpers/_extends.scss */
.btn-small, .node-offer-form .field-name-field-offer-images table input[type="submit"], .primary-btn, input[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #050800;
  border-radius: 20px;
  background: #fae019;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 2px 2px #afb1b3;
  cursor: pointer;
}
/* line 39, ../sass/helpers/_extends.scss */
.btn-small:hover, .node-offer-form .field-name-field-offer-images table input[type="submit"]:hover, .primary-btn:hover, input[type="submit"]:hover {
  color: #fff;
  background-color: #35afba;
  text-decoration: none;
}
@media (max-width: 767px) {
  /* line 29, ../sass/helpers/_extends.scss */
  .btn-small, .node-offer-form .field-name-field-offer-images table input[type="submit"], .primary-btn, input[type="submit"] {
    border-radius: 0;
  }
}

/* line 48, ../sass/helpers/_extends.scss */
.btn-small, .node-offer-form .field-name-field-offer-images table input[type="submit"] {
  padding: 7px 10px;
  font-size: 0.875rem;
}

/* line 53, ../sass/helpers/_extends.scss */
.block-user .form-actions input {
  border-radius: 50%;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 1, ../sass/layout/_layout.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  /* line 1, ../sass/layout/_layout.scss */
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 1, ../sass/layout/_layout.scss */
  .container {
    width: 747px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../sass/layout/_layout.scss */
  .container {
    width: 960px;
  }
}

/* line 15, ../sass/layout/_layout.scss */
.row, ol.search-results {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 19, ../sass/layout/_layout.scss */
.sidebar-left {
  padding-right: 10px;
}

/* line 22, ../sass/layout/_layout.scss */
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding: 0 10px;
}

/* line 36, ../sass/layout/_layout.scss */
.col-12 {
  width: 100%;
}

/* line 39, ../sass/layout/_layout.scss */
.col-11 {
  width: 91.66%;
}

/* line 42, ../sass/layout/_layout.scss */
.col-10 {
  width: 83.33%;
}

/* line 45, ../sass/layout/_layout.scss */
.col-9 {
  width: 75%;
}

/* line 48, ../sass/layout/_layout.scss */
.col-8 {
  width: 66.66%;
}

/* line 51, ../sass/layout/_layout.scss */
.col-7 {
  width: 58.33%;
}

/* line 54, ../sass/layout/_layout.scss */
.col-6 {
  width: 50%;
}

/* line 57, ../sass/layout/_layout.scss */
.col-5 {
  width: 41.66%;
}

/* line 60, ../sass/layout/_layout.scss */
.col-4 {
  width: 33.33%;
}

/* line 63, ../sass/layout/_layout.scss */
.col-3 {
  width: 25%;
}

/* line 66, ../sass/layout/_layout.scss */
.col-2 {
  width: 16.66%;
}

/* line 69, ../sass/layout/_layout.scss */
.col-1 {
  width: 8.33%;
}

/* line 82, ../sass/layout/_layout.scss */
.col-full {
  padding-top: 40px;
  clear: both;
}

/* GRID STYLES UNDER 1024px */
@media (max-width: 1024px) {
  /* line 89, ../sass/layout/_layout.scss */
  .col-12-no-fl {
    width: 100%;
    float: none;
  }

  /* line 93, ../sass/layout/_layout.scss */
  .col-8-m {
    width: 66.66%;
  }
}
/* GRID STYLES UNDER 767px */
@media (max-width: 767px) {
  /* line 100, ../sass/layout/_layout.scss */
  .col-12-sm {
    width: 100%;
    float: none;
  }

  /* line 104, ../sass/layout/_layout.scss */
  .col-11-sm {
    width: 91.66%;
  }

  /* line 107, ../sass/layout/_layout.scss */
  .col-10-sm {
    width: 83.33%;
  }

  /* line 110, ../sass/layout/_layout.scss */
  .col-9-sm {
    width: 75%;
  }

  /* line 113, ../sass/layout/_layout.scss */
  .col-8-sm {
    width: 66.66%;
  }

  /* line 116, ../sass/layout/_layout.scss */
  .col-7-sm {
    width: 58.33%;
  }

  /* line 119, ../sass/layout/_layout.scss */
  .col-6-sm {
    width: 50%;
  }

  /* line 122, ../sass/layout/_layout.scss */
  .col-5-sm {
    width: 41.66%;
  }

  /* line 125, ../sass/layout/_layout.scss */
  .col-4-sm {
    width: 33.33%;
  }

  /* line 128, ../sass/layout/_layout.scss */
  .col-3-sm {
    width: 25%;
  }

  /* line 131, ../sass/layout/_layout.scss */
  .col-2-sm {
    width: 16.66%;
  }

  /* line 134, ../sass/layout/_layout.scss */
  .col-1-sm {
    width: 8.33%;
  }
}
/* GRID STYLES UNDER 480px (smr) */
@media (max-width: 480px) {
  /* line 141, ../sass/layout/_layout.scss */
  .col-12-smr {
    width: 100%;
  }

  /* line 144, ../sass/layout/_layout.scss */
  .col-11-smr {
    width: 91.66%;
  }

  /* line 147, ../sass/layout/_layout.scss */
  .col-10-smr {
    width: 83.33%;
  }

  /* line 150, ../sass/layout/_layout.scss */
  .col-9-smr {
    width: 75%;
  }

  /* line 153, ../sass/layout/_layout.scss */
  .col-8-smr {
    width: 66.66%;
  }

  /* line 156, ../sass/layout/_layout.scss */
  .col-7-smr {
    width: 58.33%;
  }

  /* line 159, ../sass/layout/_layout.scss */
  .col-6-smr {
    width: 50%;
  }

  /* line 162, ../sass/layout/_layout.scss */
  .col-5-smr {
    width: 41.66%;
  }

  /* line 165, ../sass/layout/_layout.scss */
  .col-4-smr {
    width: 33.33%;
  }

  /* line 168, ../sass/layout/_layout.scss */
  .col-3-smr {
    width: 25%;
  }

  /* line 171, ../sass/layout/_layout.scss */
  .col-2-smr {
    width: 16.66%;
  }

  /* line 174, ../sass/layout/_layout.scss */
  .col-1-smr {
    width: 8.33%;
  }
}
/* line 1, ../sass/base/_common.scss */
.fl-left {
  float: left;
}

/* line 4, ../sass/base/_common.scss */
.fl-right {
  float: right;
}

/* line 7, ../sass/base/_common.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 12, ../sass/base/_common.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 18, ../sass/base/_common.scss */
.center-margin {
  margin: 0 auto;
}

/* line 21, ../sass/base/_common.scss */
a {
  color: #0e2c4b;
}
/* line 23, ../sass/base/_common.scss */
a:visited {
  color: #2a2a2a;
}
/* line 26, ../sass/base/_common.scss */
a:hover {
  text-decoration: underline;
}
/* line 29, ../sass/base/_common.scss */
a:active {
  color: #db2a1a;
}

/* line 33, ../sass/base/_common.scss */
#main-content {
  margin-top: 40px;
}

/* line 36, ../sass/base/_common.scss */
body {
  color: #050800;
}
/* line 38, ../sass/base/_common.scss */
body #admin-menu {
  font-size: 0.875rem;
}

/* line 42, ../sass/base/_common.scss */
.main {
  margin-bottom: 60px;
  background: #fff;
}
@media (max-width: 1024px) {
  /* line 42, ../sass/base/_common.scss */
  .main {
    margin-bottom: 10px;
  }
}

/* line 55, ../sass/base/_common.scss */
#messages {
  margin-top: 50px;
}

/* line 58, ../sass/base/_common.scss */
h1 {
  margin-bottom: 20px;
  color: #626467;
}

/* line 62, ../sass/base/_common.scss */
h2.pane-title,
h2 {
  margin-bottom: 10px;
  padding: 5px 0;
}

/* line 67, ../sass/base/_common.scss */
h2 {
  color: #626467;
}

/* line 70, ../sass/base/_common.scss */
h3 {
  margin: 10px 0;
}

/* line 73, ../sass/base/_common.scss */
h4 {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

/* line 78, ../sass/base/_common.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 82, ../sass/base/_common.scss */
strong {
  color: #050800;
  font-weight: bold;
}

/* line 86, ../sass/base/_common.scss */
.heading-wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 89, ../sass/base/_common.scss */
.heading-wrapper h1 {
  display: inline-block;
  word-break: break-all;
}

/* line 95, ../sass/base/_common.scss */
table {
  width: 100%;
}
/* line 97, ../sass/base/_common.scss */
table thead {
  background: #c9cbcc;
  border-bottom: 1px solid #afb1b3;
}
/* line 100, ../sass/base/_common.scss */
table thead th {
  padding: 10px 0;
  font-weight: bold;
  color: #fff;
}
/* line 104, ../sass/base/_common.scss */
table thead th:first-child {
  padding-left: 5px;
}
/* line 110, ../sass/base/_common.scss */
table tbody tr {
  border-bottom: 1px solid #ededed;
}
/* line 112, ../sass/base/_common.scss */
table tbody tr:nth-child(even) {
  background: #fafafa;
}
/* line 116, ../sass/base/_common.scss */
table tbody td {
  padding: 20px 0;
}

/* line 121, ../sass/base/_common.scss */
em {
  font-style: italic;
}

/* line 125, ../sass/base/_common.scss */
p {
  margin: 20px 0;
  font-size: 1rem;
}

/* line 130, ../sass/base/_common.scss */
.more-link {
  display: inline-block;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
}
/* line 136, ../sass/base/_common.scss */
.more-link:hover {
  text-decoration: none;
}
/* line 138, ../sass/base/_common.scss */
.more-link:hover:after {
  color: #87d7dd;
}

@media (max-width: 767px) {
  /* line 151, ../sass/base/_common.scss */
  .mobile-hidden {
    display: none;
  }
}
@media (min-width: 767px) {
  /* line 157, ../sass/base/_common.scss */
  .desktop-hidden {
    display: none;
  }
}
/* line 162, ../sass/base/_common.scss */
#underlay {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 172, ../sass/base/_common.scss */
#underlay.expanded {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

/* line 1, ../sass/base/_typography.scss */
html {
  font-size: 16px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/base/_typography.scss */
  html {
    font-size: 14px;
  }
}

/* line 7, ../sass/base/_typography.scss */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}

/* line 11, ../sass/base/_typography.scss */
h1 {
  font-size: 1.75rem;
}

/* line 14, ../sass/base/_typography.scss */
h2 {
  font-size: 1.3125rem;
}

/* line 17, ../sass/base/_typography.scss */
h3 {
  font-size: 1.125rem;
}

/* line 20, ../sass/base/_typography.scss */
h4 {
  font-size: 1rem;
}

/* line 23, ../sass/base/_typography.scss */
h5 {
  font-size: 0.875rem;
}

/* line 26, ../sass/base/_typography.scss */
h6 {
  font-size: 0.75rem;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../font-awesome/fontawesome-webfont.eot?v=4.2.0");
  src: url("../font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../font-awesome/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../font-awesome/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../font-awesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../sass/fonts/_font-awesome.scss */
.fa:before, .view-user-offers tbody .views-field-delete-node a:before, .view-user-offers tbody .views-field-edit-node a:before, .ajax-progress .throbber:before, .node-type-offer .author-name:before,
.fa:after,
.more-link:after,
#edit-pass-change-pass-title h5.active:after,
.sidebar-block .pane-title.active:after,
#edit-pass-change-pass-title h5:after,
.sidebar-block .pane-title:after,
.node-type-offer .author-name:after,
.pane-apachesolr-form .form-actions:before,
.pane-search-form .form-actions:before {
  font-family: 'FontAwesome';
  line-height: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 21, ../sass/fonts/_font-awesome.scss */
.ajax-progress .throbber:before {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 25, ../sass/fonts/_font-awesome.scss */
.fa-user:before, .node-type-offer .author-name:before {
  content: '\f007';
}

/* line 28, ../sass/fonts/_font-awesome.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 31, ../sass/fonts/_font-awesome.scss */
.fa-facebook:before {
  content: "\f09a";
  margin-right: 5px;
  color: #fff;
}

/* line 42, ../sass/fonts/_font-awesome.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 45, ../sass/fonts/_font-awesome.scss */
.more-link:after {
  content: "\f054";
  margin-left: 5px;
}

/* line 50, ../sass/fonts/_font-awesome.scss */
#edit-pass-change-pass-title h5.active:after, .sidebar-block .pane-title.active:after {
  content: "\f077";
}

/* line 54, ../sass/fonts/_font-awesome.scss */
#edit-pass-change-pass-title h5:after, .sidebar-block .pane-title:after {
  content: "\f078";
}

/* line 58, ../sass/fonts/_font-awesome.scss */
.view-user-offers tbody .views-field-delete-node a:before {
  content: "\f1f8";
}

/* line 62, ../sass/fonts/_font-awesome.scss */
.view-user-offers tbody .views-field-edit-node a:before {
  content: "\f044";
}

/* line 66, ../sass/fonts/_font-awesome.scss */
.ajax-progress .throbber:before {
  content: "\f021";
}

/* line 70, ../sass/fonts/_font-awesome.scss */
.fa-bars:before {
  content: "\f0c9";
  font-size: 1.375rem;
}

/* line 74, ../sass/fonts/_font-awesome.scss */
.fa-search:before, .pane-apachesolr-form .form-actions:before,
.pane-search-form .form-actions:before {
  content: "";
}

/* line 77, ../sass/fonts/_font-awesome.scss */
.fa-search {
  font-size: 1.375rem;
}

/* line 1, ../sass/pages/_offer.scss */
.pane-node-body {
  padding: 40px 0;
  border-bottom: 1px solid #ededed;
}
/* line 4, ../sass/pages/_offer.scss */
.pane-node-body .pane-content {
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

/* line 11, ../sass/pages/_offer.scss */
.pane-node-field-offer-price .field-item {
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 18, ../sass/pages/_offer.scss */
.node-type-offer .sidebar-block .pane-title,
.node-type-offer .sidebar-block .pane-content {
  display: inline-block;
}
/* line 22, ../sass/pages/_offer.scss */
.node-type-offer .sidebar-block .pane-title {
  font-size: 1rem;
  background: none;
  color: #434343;
}
/* line 27, ../sass/pages/_offer.scss */
.node-type-offer .sidebar-block .pane-content {
  font-size: 0.875rem;
}
/* line 34, ../sass/pages/_offer.scss */
.node-type-offer .author-name:before {
  font-size: 1.125rem;
}
/* line 39, ../sass/pages/_offer.scss */
.node-type-offer .picture img {
  max-width: 70px;
}
/* line 43, ../sass/pages/_offer.scss */
.node-type-offer .pane-node-field-address {
  font-size: 0;
}
/* line 45, ../sass/pages/_offer.scss */
.node-type-offer .pane-node-field-address .pane-title {
  width: 25%;
  vertical-align: top;
  text-align: left;
}
/* line 50, ../sass/pages/_offer.scss */
.node-type-offer .pane-node-field-address .pane-content {
  width: 75%;
  display: inline-block;
}
/* line 55, ../sass/pages/_offer.scss */
.node-type-offer .author-offline,
.node-type-offer .author-online,
.node-type-offer .author-last-seen,
.node-type-offer .author-joined {
  display: none;
}
/* line 62, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-title {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 68, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-content {
  display: block;
}
/* line 73, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .view-content {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 0;
}
/* line 78, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-row {
  display: inline-block;
  vertical-align: top;
  width: 33.333333%;
  padding: 5px;
}
/* line 85, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-field-field-offer-images a {
  display: block;
}
/* line 89, ../sass/pages/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-field-title {
  font-size: 0.875rem;
}

/* line 2, ../sass/pages/_forum.scss */
.node-forum .user-picture {
  margin-right: 10px;
}
/* line 6, ../sass/pages/_forum.scss */
.node-forum .submitted {
  font-size: 0.875rem;
}
/* line 9, ../sass/pages/_forum.scss */
.node-forum .content {
  padding-top: 20px;
  clear: both;
}
/* line 13, ../sass/pages/_forum.scss */
.node-forum .field-name-taxonomy-forums {
  margin-bottom: 20px;
  font-size: 1.125rem;
}
/* line 17, ../sass/pages/_forum.scss */
.node-forum .field-name-body {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

/* Forums */
/* line 26, ../sass/pages/_forum.scss */
#forum .submitted,
#forum .posts,
#forum .topics {
  font-size: 0.875rem;
}
/* line 31, ../sass/pages/_forum.scss */
#forum .posts,
#forum .topics {
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 37, ../sass/pages/_forum.scss */
  #forum .forum {
    max-width: 200px;
  }
  /* line 40, ../sass/pages/_forum.scss */
  #forum .last-reply,
  #forum thead th:last-child {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 46, ../sass/pages/_forum.scss */
  #forum thead th:nth-child(3) {
    font-size: 0;
  }
  /* line 49, ../sass/pages/_forum.scss */
  #forum .posts,
  #forum .replies,
  #forum .title div:nth-child(2),
  #forum .description {
    display: none;
  }
}

/* line 2, ../sass/pages/_basic-page.scss */
.node-page p {
  text-indent: 20px;
  line-height: 1.4;
}
/* line 6, ../sass/pages/_basic-page.scss */
.node-page ul,
.node-page ol {
  margin-left: 20px;
}
/* line 9, ../sass/pages/_basic-page.scss */
.node-page ul ul,
.node-page ul ol,
.node-page ol ul,
.node-page ol ol {
  margin-left: 20px;
}
/* line 13, ../sass/pages/_basic-page.scss */
.node-page ul li,
.node-page ol li {
  margin-bottom: 5px;
}
/* line 17, ../sass/pages/_basic-page.scss */
.node-page ul {
  list-style: square;
}
/* line 20, ../sass/pages/_basic-page.scss */
.node-page ol {
  list-style: decimal;
}
/* line 23, ../sass/pages/_basic-page.scss */
.node-page blockquote {
  margin: 20px 0;
  padding: 0.5rem 10px;
  border-left: 10px solid #afb1b3;
  quotes: "“" "”" "‘" "’";
  background: #eaf8f9;
}
/* line 31, ../sass/pages/_basic-page.scss */
.node-page blockquote:before, .node-page blockquote:after {
  vertical-align: -0.4rem;
  font-size: 2rem;
  color: #afb1b3;
}
/* line 37, ../sass/pages/_basic-page.scss */
.node-page blockquote:before {
  content: open-quote;
  margin-right: 0.25rem;
}
/* line 41, ../sass/pages/_basic-page.scss */
.node-page blockquote:after {
  content: close-quote;
  margin-left: 0.25rem;
}
/* line 46, ../sass/pages/_basic-page.scss */
.node-page blockquote p {
  display: inline;
  font-style: italic;
  color: #434343;
}
/* line 51, ../sass/pages/_basic-page.scss */
.node-page cite {
  font-style: normal;
  font-weight: bold;
}

/* line 3, ../sass/pages/_ad-info-page.scss */
.ad-info-page table p {
  margin: 0;
}
/* line 6, ../sass/pages/_ad-info-page.scss */
.ad-info-page table .col_0 {
  padding-left: 5px;
}
/* line 10, ../sass/pages/_ad-info-page.scss */
.ad-info-page .views-row {
  margin-bottom: 40px;
}
/* line 13, ../sass/pages/_ad-info-page.scss */
.ad-info-page .image-link {
  color: #db2a1a;
}
/* line 17, ../sass/pages/_ad-info-page.scss */
.ad-info-page .views-field-field-ad-properties-note p {
  font-size: 0.875rem;
}

/* line 2, ../sass/pages/_confirmation.scss */
.confirmation .form-actions {
  margin-top: 20px;
}

/* line 1, ../sass/pages/_search.scss */
.search-block {
  margin-bottom: 20px;
}

/* line 4, ../sass/pages/_search.scss */
.form-item-apachesolr-panels-search-form,
.form-item-search-block-form {
  margin-right: 10px;
}
/* line 8, ../sass/pages/_search.scss */
.form-item-apachesolr-panels-search-form .form-text,
.form-item-search-block-form .form-text {
  width: 100%;
  margin-top: 5px;
}

/* line 15, ../sass/pages/_search.scss */
.pane-apachesolr-form .form-actions,
.pane-search-form .form-actions {
  position: relative;
  display: inline-block;
}
/* line 18, ../sass/pages/_search.scss */
.pane-apachesolr-form .form-actions input[type="submit"],
.pane-search-form .form-actions input[type="submit"] {
  padding-left: 25px;
  padding-right: 15px;
}
/* line 22, ../sass/pages/_search.scss */
.pane-apachesolr-form .form-actions:before,
.pane-search-form .form-actions:before {
  position: absolute;
  top: 10px;
  left: 9px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 29, ../sass/pages/_search.scss */
.pane-apachesolr-form .form-actions:hover:before,
.pane-search-form .form-actions:hover:before {
  color: #fff;
}

/* Ugly hack because the core search is used with panels
 and ctools has hardcoded search results markup wrapper.*/
/* line 1, ../sass/pages/_user.scss */
.user-menu {
  display: inline-block;
  vertical-align: top;
}
/* line 4, ../sass/pages/_user.scss */
.user-menu a {
  margin-right: 5px;
  font-size: 0.875rem;
  color: #95989a;
}
/* line 48, ../sass/helpers/_mixins.scss */
.user-menu a:visited {
  color: #6e7174;
}
/* line 51, ../sass/helpers/_mixins.scss */
.user-menu a:hover {
  color: #6e7174;
}

/* line 8, ../sass/pages/_user.scss */
.user-name {
  display: inline-block;
  font-weight: bold;
}

/* line 13, ../sass/pages/_user.scss */
.header-user-picture {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
/* line 17, ../sass/pages/_user.scss */
.header-user-picture img {
  display: block;
  max-width: 30px;
  box-shadow: 2px 3px 3px #afb1b3;
}

/* line 24, ../sass/pages/_user.scss */
.user-picture img {
  box-shadow: 2px 3px 3px #afb1b3;
}

/* USER EDIT FORM */
/* line 30, ../sass/pages/_user.scss */
.description {
  font-size: 0.75rem;
  color: #434343;
}

/* line 34, ../sass/pages/_user.scss */
#edit-pass-change-pass-title {
  margin-top: 20px;
  padding: 8px 5px;
  color: #fff;
  background: #87d7dd;
  cursor: pointer;
}
/* line 40, ../sass/pages/_user.scss */
#edit-pass-change-pass-title h5 {
  font-weight: bold;
}
/* line 42, ../sass/pages/_user.scss */
#edit-pass-change-pass-title h5:after {
  display: block;
  float: right;
  margin-right: 10px;
}

/* line 53, ../sass/pages/_user.scss */
.password-strength {
  width: 50%;
}
@media (max-width: 480px) {
  /* line 53, ../sass/pages/_user.scss */
  .password-strength {
    float: none;
  }
}
/* line 58, ../sass/pages/_user.scss */
.password-strength .password-indicator {
  height: 5px;
  background: #afb1b3;
}
/* line 62, ../sass/pages/_user.scss */
.password-strength .indicator {
  width: 0%;
  height: 100%;
  background: #61C668;
}

/* line 68, ../sass/pages/_user.scss */
.password-strength-text,
.password-strength-title,
.password-confirm {
  font-size: 0.875rem;
  line-height: 2;
}

/* line 74, ../sass/pages/_user.scss */
.password-strength-title {
  display: inline;
  color: #434343;
}

/* line 82, ../sass/pages/_user.scss */
.password-parent,
.confirm-parent {
  display: none;
}

/* line 86, ../sass/pages/_user.scss */
#edit-picture-upload {
  display: none;
}

/* line 2, ../sass/components/_ads.scss */
.ad-wrapper .pane-block {
  padding: 0;
  background: none;
}

/* line 7, ../sass/components/_ads.scss */
.ad-small {
  margin-left: 20px;
}
@media (max-width: 767px) {
  /* line 7, ../sass/components/_ads.scss */
  .ad-small {
    margin: 0 auto;
    float: none;
    max-width: 220px;
  }
}

/* line 16, ../sass/components/_ads.scss */
.simplead-container img {
  height: 200px;
}

/* line 20, ../sass/components/_ads.scss */
.ad-medium {
  margin-left: 10px;
}
@media (max-width: 767px) {
  /* line 20, ../sass/components/_ads.scss */
  .ad-medium {
    max-width: 460px;
    margin: 0 auto 20px;
    float: none;
  }
}

/* line 28, ../sass/components/_ads.scss */
.ad-bottom.ad-small {
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  /* line 28, ../sass/components/_ads.scss */
  .ad-bottom.ad-small {
    margin: 0 auto 20px;
  }
}

/* line 3, ../sass/components/_bx-slider.scss */
.pane-node-field-offer-images .bx-wrapper .bx-pager {
  bottom: -75px;
}
/* line 5, ../sass/components/_bx-slider.scss */
.pane-node-field-offer-images .bx-wrapper .bx-pager img {
  max-width: 50px;
}

/* line 14, ../sass/components/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-viewport {
  background: transparent;
}
/* line 17, ../sass/components/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-prev {
  left: -33px;
}
/* line 20, ../sass/components/_bx-slider.scss */
.view-other-user-offers .bx-wrapper .bx-next {
  right: -33px;
}
@media (max-width: 1024px) {
  /* line 23, ../sass/components/_bx-slider.scss */
  .view-other-user-offers .bx-wrapper .bx-controls-direction {
    display: none;
  }
}

/* line 1, ../sass/components/_comments.scss */
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
/* line 5, ../sass/components/_comments.scss */
.comment h2.title {
  margin-bottom: 10px;
}
/* line 8, ../sass/components/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 11, ../sass/components/_comments.scss */
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  vertical-align: top;
  overflow: hidden;
}
@media (max-width: 480px) {
  /* line 11, ../sass/components/_comments.scss */
  .comment .attribution {
    padding-right: 10px;
  }
}
/* line 19, ../sass/components/_comments.scss */
.comment .attribution img {
  max-width: 50px;
  margin: 0;
}
/* line 23, ../sass/components/_comments.scss */
.comment .attribution .username {
  word-wrap: break-word;
}
/* line 27, ../sass/components/_comments.scss */
.comment .submitted {
  width: 80px;
}
/* line 29, ../sass/components/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  font-size: 1rem;
  line-height: 1.2;
}
/* line 34, ../sass/components/_comments.scss */
.comment .submitted .comment-time {
  font-size: 0.75rem;
  color: #434343;
}
/* line 38, ../sass/components/_comments.scss */
.comment .submitted .comment-permalink {
  font-size: 0.625rem;
}
/* line 42, ../sass/components/_comments.scss */
.comment .content {
  font-size: 0.875rem;
  line-height: 1.6;
}
/* line 46, ../sass/components/_comments.scss */
.comment .comment-arrow {
  position: absolute;
  left: -40px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent;
  border-right-color: #e1e1e1;
}
/* line 53, ../sass/components/_comments.scss */
.comment .comment-arrow:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px;
  border-color: transparent;
  border-right-color: #fff;
  left: -18px;
  top: -19px;
}
/* line 64, ../sass/components/_comments.scss */
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #e1e1e1;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
@media (max-width: 480px) {
  /* line 64, ../sass/components/_comments.scss */
  .comment .comment-text {
    padding: 10px;
  }
}
/* line 75, ../sass/components/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 78, ../sass/components/_comments.scss */
.comment ul.links {
  padding: 0 0 10px 0;
  font-size: 0.75rem;
}
/* line 82, ../sass/components/_comments.scss */
.comment li {
  padding: 20px 0 10px;
}

/* line 86, ../sass/components/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

/* line 1, ../sass/components/_header.scss */
.header-bg {
  width: 100%;
  height: 300px;
  padding: 20px 10px;
  background-image: url("../images/head.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px #ccc;
}
@media (max-width: 1024px) {
  /* line 10, ../sass/components/_header.scss */
  .logged-in .header-bg {
    height: 250px;
  }
}

@media (max-width: 767px) {
  /* line 15, ../sass/components/_header.scss */
  .block-user {
    float: none;
  }
}
/* line 20, ../sass/components/_header.scss */
.block-user .form-item {
  width: auto;
  margin-right: 10px;
}
/* line 24, ../sass/components/_header.scss */
.block-user .form-item input[type="text"],
.block-user .form-item input[type="password"] {
  width: 190px;
  height: 25px;
}
/* line 30, ../sass/components/_header.scss */
.block-user .form-wrapper,
.block-user .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 34, ../sass/components/_header.scss */
.block-user label {
  font-size: 0.75rem;
  line-height: 1.5;
}
/* line 38, ../sass/components/_header.scss */
.block-user .form-actions {
  position: relative;
  top: 2px;
}
/* line 42, ../sass/components/_header.scss */
.block-user .form-actions input {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  text-indent: -9999em;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}
/* line 55, ../sass/components/_header.scss */
.block-user .form-item-remember-me {
  font-size: 12px;
  line-height: 2;
}
@media (max-width: 1024px) {
  /* line 55, ../sass/components/_header.scss */
  .block-user .form-item-remember-me {
    clear: left;
  }
}
/* line 61, ../sass/components/_header.scss */
.block-user .form-item-remember-me input {
  position: relative;
  top: 2px;
}
@media (max-width: 1024px) {
  /* line 67, ../sass/components/_header.scss */
  .block-user .form-type-password {
    clear: left;
  }
}

/* line 72, ../sass/components/_header.scss */
.fa-facebook {
  margin-right: 10px;
  padding: 5px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background: #5b74a8;
  border: 1px solid #afb1b3;
  border-color: #2f477a #29447e #1a356e;
}
/* line 81, ../sass/components/_header.scss */
.fa-facebook:visited {
  color: #fff;
}
/* line 84, ../sass/components/_header.scss */
.fa-facebook:hover {
  color: #fff;
  background: #6c82b1;
}
@media (max-width: 1024px) {
  /* line 72, ../sass/components/_header.scss */
  .fa-facebook {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
}

/* line 94, ../sass/components/_header.scss */
.logo {
  margin: 10px 0;
}
/* line 96, ../sass/components/_header.scss */
.logo img {
  max-width: 200px;
  height: auto;
}

/* line 102, ../sass/components/_header.scss */
.menu li {
  margin-right: 5px;
  border-right: 1px solid #afb1b3;
}
/* line 106, ../sass/components/_header.scss */
.menu li:last-child {
  border-right: 0 none;
}
/* line 110, ../sass/components/_header.scss */
.menu a {
  margin-right: 5px;
  font-size: 0.875rem;
  color: #95989a;
}
/* line 48, ../sass/helpers/_mixins.scss */
.menu a:visited {
  color: #6e7174;
}
/* line 51, ../sass/helpers/_mixins.scss */
.menu a:hover {
  color: #6e7174;
}

/* line 114, ../sass/components/_header.scss */
.add-offer-link {
  margin-top: 10px;
  padding-left: 40px;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  font-size: 1.125rem;
}
/* line 121, ../sass/components/_header.scss */
.main-header .add-offer-link:hover {
  font-size: 20px;
}

/* line 125, ../sass/components/_header.scss */
.motto {
  margin-top: 10px;
  padding: 7px 10px;
  text-align: center;
  background-image: url("../images/lenta.png");
  background-position: center;
  background-size: 100% 100%;
}
/* line 132, ../sass/components/_header.scss */
.motto span {
  text-transform: uppercase;
  font-weight: bold;
  color: #050800;
}

/**
 * Mobile header.
 */
@media (max-width: 767px) {
  /* line 5, ../sass/components/_header-mobile.scss */
  .header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 9;
    background-color: #afe4e8;
  }

  /* line 13, ../sass/components/_header-mobile.scss */
  .header-mobile-container {
    position: relative;
    height: 100%;
  }

  /* line 17, ../sass/components/_header-mobile.scss */
  .logo-mobile {
    position: absolute;
    top: 50%;
    left: 10px;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* line 23, ../sass/components/_header-mobile.scss */
  .logo-mobile img {
    max-width: 120px;
  }

  /* line 27, ../sass/components/_header-mobile.scss */
  .fa-bars,
  .fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* line 34, ../sass/components/_header-mobile.scss */
  .fa-search {
    right: auto;
    left: 150px;
  }

  /* line 38, ../sass/components/_header-mobile.scss */
  .header-row-mobile {
    position: fixed;
    top: 50px;
    width: 100%;
    right: -100%;
    padding-bottom: 40px;
    z-index: 2;
    background-color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  /* line 47, ../sass/components/_header-mobile.scss */
  .header-row-mobile.expanded {
    right: 0;
  }
  /* line 50, ../sass/components/_header-mobile.scss */
  .header-row-mobile .fa-facebook {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 0.875rem;
  }
  /* line 57, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user {
    margin-top: 10px;
    font-size: 0;
  }
  /* line 60, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user .form-item {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  /* line 64, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user .form-item .form-text {
    width: 100%;
    height: 35px;
  }
  /* line 69, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user .form-item-remember-me,
  .header-row-mobile .block-user .form-actions {
    display: inline-block;
    width: 50%;
    float: none;
    padding: 10px;
  }
  /* line 76, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user .form-actions {
    top: 0;
  }
  /* line 78, ../sass/components/_header-mobile.scss */
  .header-row-mobile .block-user .form-actions input {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid #dbc205;
    border-radius: 0;
    text-indent: 0;
    background-size: initial;
    background-position: 95% center;
  }

  /* line 91, ../sass/components/_header-mobile.scss */
  .header-user-mobile {
    padding: 0 10px;
    font-size: 0;
    background-color: #95989a;
  }

  /* line 96, ../sass/components/_header-mobile.scss */
  .user-menu-mobile {
    display: inline-block;
    width: 80%;
  }

  /* line 100, ../sass/components/_header-mobile.scss */
  .header-user-picture-mob {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 103, ../sass/components/_header-mobile.scss */
  .header-user-picture-mob img {
    max-width: 50px;
  }

  /* line 107, ../sass/components/_header-mobile.scss */
  .user-name {
    width: 75%;
    padding-left: 5px;
    vertical-align: middle;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  /* line 117, ../sass/components/_header-mobile.scss */
  .fa-sign-out {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    padding: 5px 0;
    font-size: 0.875rem;
  }

  /* line 124, ../sass/components/_header-mobile.scss */
  .motto-mobile-container {
    padding: 40px 0 0 0;
  }
  /* line 126, ../sass/components/_header-mobile.scss */
  .motto-mobile-container .motto {
    padding: 4px 0;
  }
  /* line 129, ../sass/components/_header-mobile.scss */
  .motto-mobile-container span {
    font-size: 0.75rem;
  }

  /* line 133, ../sass/components/_header-mobile.scss */
  .help-menu-mobile {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #afb1b3;
  }
  /* line 137, ../sass/components/_header-mobile.scss */
  .help-menu-mobile li {
    display: block;
    float: none;
    margin-right: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #afb1b3;
  }
  /* line 144, ../sass/components/_header-mobile.scss */
  .help-menu-mobile li:last-child {
    border-bottom: 0;
  }
  /* line 148, ../sass/components/_header-mobile.scss */
  .help-menu-mobile a {
    display: block;
    padding: 10px;
    font-weight: bold;
  }

  /* line 154, ../sass/components/_header-mobile.scss */
  .search-block {
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  /* line 162, ../sass/components/_header-mobile.scss */
  .search-block.expanded {
    top: 50px;
    z-index: 2;
  }
  /* line 166, ../sass/components/_header-mobile.scss */
  .search-block .form-item {
    float: none;
    margin-top: 10px;
  }
  /* line 169, ../sass/components/_header-mobile.scss */
  .search-block .form-item input[type="text"] {
    height: 35px;
  }

  /* line 174, ../sass/components/_header-mobile.scss */
  .add-offer-btn-mob {
    text-align: center;
  }
  /* line 176, ../sass/components/_header-mobile.scss */
  .add-offer-btn-mob a {
    display: inline-block;
    float: none;
  }
}
/* line 1, ../sass/components/_main-footer.scss */
.main-footer {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #afb1b3;
  clear: both;
}
@media (max-width: 480px) {
  /* line 1, ../sass/components/_main-footer.scss */
  .main-footer {
    margin-bottom: 10px;
  }
}
/* line 9, ../sass/components/_main-footer.scss */
.main-footer .block-menu {
  display: inline-block;
  padding: 10px 20px;
  background: #95989a;
  border-radius: 7px;
}
@media (max-width: 480px) {
  /* line 9, ../sass/components/_main-footer.scss */
  .main-footer .block-menu {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
}
/* line 20, ../sass/components/_main-footer.scss */
.main-footer .block-menu li {
  margin-right: 10px;
  border-right: 1px solid #fff;
}
/* line 24, ../sass/components/_main-footer.scss */
.main-footer .block-menu li:last-child {
  margin-right: 0;
  border-right: 0 none;
}
/* line 27, ../sass/components/_main-footer.scss */
.main-footer .block-menu li:last-child a {
  margin-right: 0;
}
@media (max-width: 480px) {
  /* line 20, ../sass/components/_main-footer.scss */
  .main-footer .block-menu li {
    float: none;
    border-right: 0 none;
  }
}
/* line 36, ../sass/components/_main-footer.scss */
.main-footer .block-menu a {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff;
}
@media (max-width: 480px) {
  /* line 36, ../sass/components/_main-footer.scss */
  .main-footer .block-menu a {
    display: inline-block;
    padding: 5px 0;
  }
}

/* line 48, ../sass/components/_main-footer.scss */
.motto-logo {
  display: inline-block;
  min-width: 340px;
}
@media (max-width: 767px) {
  /* line 48, ../sass/components/_main-footer.scss */
  .motto-logo {
    min-width: initial;
  }
}
/* line 54, ../sass/components/_main-footer.scss */
.motto-logo .logo {
  margin-top: 0;
}
/* line 56, ../sass/components/_main-footer.scss */
.motto-logo .logo img {
  width: 60px;
}
/* line 60, ../sass/components/_main-footer.scss */
.motto-logo span {
  line-height: 1.5;
  font-size: 0.75rem;
  color: #db2a1a;
}
@media (max-width: 767px) {
  /* line 60, ../sass/components/_main-footer.scss */
  .motto-logo span {
    max-width: 70%;
  }
}

/* line 1, ../sass/components/_pager.scss */
.pager {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 5, ../sass/components/_pager.scss */
.pager li {
  display: inline-block;
}
/* line 8, ../sass/components/_pager.scss */
.pager .pager-current {
  text-decoration: underline;
}

/* line 1, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid #afb1b3;
  box-shadow: 0px 4px 4px -4px #DDD9D9;
}
/* line 5, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li {
  display: inline-block;
  padding: 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #afb1b3;
  border-radius: 2px 2px 0 0;
}
/* line 12, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li.active {
  border-color: #6e7174;
  -webkit-transition: border 0.2s ease-in;
  -moz-transition: border 0.2s ease-in;
  -ms-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
/* line 16, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li a {
  display: inline-block;
  padding: 5px;
}
/* line 19, ../sass/components/_quicktabs.scss */
ul.quicktabs-tabs li a:hover {
  text-decoration: none;
}

/* line 1, ../sass/components/_sidebar_block.scss */
.sidebar-block {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background: #eaf8f9;
  color: #434343;
}
/* line 7, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-title {
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  background: #87d7dd;
}
/* line 12, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-title:after {
  display: none;
}
/* line 20, ../sass/components/_sidebar_block.scss */
.sidebar-block a {
  display: inline-block;
  color: #888b8e;
}
@media (max-width: 1024px) {
  /* line 20, ../sass/components/_sidebar_block.scss */
  .sidebar-block a {
    padding: 5px 0;
  }
}
/* line 29, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-content ul li {
  line-height: 1.2;
}
/* line 32, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-content ul li.active:before {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  border-style: solid;
  border-width: 8px;
  border-color: transparent;
  border-left-color: #87d7dd;
}
/* line 46, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-content > ul > .first > a {
  /* The heading of each section. */
  text-transform: uppercase;
}
/* line 49, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-content > ul > li {
  /* The items. */
  margin-bottom: 20px;
}
/* line 51, ../sass/components/_sidebar_block.scss */
.sidebar-block .pane-content > ul > li > a {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #888b8e;
}

@media (max-width: 1024px) {
  /* line 66, ../sass/components/_sidebar_block.scss */
  .sidebar-left .pane-title {
    padding-left: 10px;
    margin-bottom: 0;
    text-align: left;
    cursor: pointer;
  }
  /* line 71, ../sass/components/_sidebar_block.scss */
  .sidebar-left .pane-title:after {
    display: block;
    float: right;
    margin-right: 10px;
  }
  /* line 77, ../sass/components/_sidebar_block.scss */
  .sidebar-left .pane-content {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 84, ../sass/components/_sidebar_block.scss */
  .sidebar-mobile {
    margin-top: 20px;
  }
}
/* line 2, ../sass/components/_grid-listing.scss */
.grid-listing-container h3 {
  margin: 0;
}
/* line 5, ../sass/components/_grid-listing.scss */
.grid-listing-container .pane-title {
  margin-top: 10px;
}
@media (max-width: 480px) {
  /* line 8, ../sass/components/_grid-listing.scss */
  .grid-listing-container .view-content {
    margin-top: 20px;
  }
}
/* line 14, ../sass/components/_grid-listing.scss */
.grid-listing-container .views-row {
  margin-bottom: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/* line 17, ../sass/components/_grid-listing.scss */
.grid-listing-container .views-row:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  /* line 17, ../sass/components/_grid-listing.scss */
  .grid-listing-container .views-row:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/* line 24, ../sass/components/_grid-listing.scss */
.grid-listing-container .grid-images {
  padding-top: 5px;
  text-align: center;
  border: solid #c9cbcc;
  border-width: 1px 1px 0 1px;
}
/* line 29, ../sass/components/_grid-listing.scss */
.grid-listing-container .grid-images img {
  padding: 0 5px;
  border-radius: 3px;
}
/* line 34, ../sass/components/_grid-listing.scss */
.grid-listing-container .views-field-title,
.grid-listing-container .views-field-name {
  padding: 5px;
  border: solid #c9cbcc;
}
/* line 39, ../sass/components/_grid-listing.scss */
.grid-listing-container .views-field-title {
  border-width: 0 1px 0 1px;
}
/* line 42, ../sass/components/_grid-listing.scss */
.grid-listing-container .views-field-name {
  padding-top: 0;
  border-width: 0 1px 1px 1px;
  font-size: 0.875rem;
}

/* line 1, ../sass/forms/_forms.scss */
span.form-required {
  display: none;
}

/* line 4, ../sass/forms/_forms.scss */
.form-actions {
  cursor: pointer;
}
/* line 6, ../sass/forms/_forms.scss */
.form-actions input {
  margin-right: 10px;
}

/* line 10, ../sass/forms/_forms.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 14, ../sass/forms/_forms.scss */
label,
.fieldset-legend {
  line-height: 2;
  font-size: 0.875rem;
  color: #888b8e;
}
/* line 19, ../sass/forms/_forms.scss */
label.compact-form-label,
.fieldset-legend.compact-form-label {
  font-size: 0.875rem;
}

/* line 23, ../sass/forms/_forms.scss */
input[type="text"],
input[type="password"],
textarea {
  padding-left: 12px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 28, ../sass/forms/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 0 2px #c9cbcc;
}

/* line 33, ../sass/forms/_forms.scss */
input[type="text"],
input[type="password"],
textarea,
select {
  background: #fff;
  border: 1px solid #c9cbcc;
  box-shadow: 0 0 4px #c9cbcc inset;
}

/* line 41, ../sass/forms/_forms.scss */
.form-wrapper,
.compact-form-wrapper {
  margin-bottom: 20px;
}

/* line 45, ../sass/forms/_forms.scss */
.form-item {
  width: 50%;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  /* line 45, ../sass/forms/_forms.scss */
  .form-item {
    width: 100%;
  }
}
/* line 52, ../sass/forms/_forms.scss */
.form-item input[type="text"],
.form-item select,
.form-item input[type="password"] {
  height: 30px;
  margin-bottom: 10px;
}
/* line 58, ../sass/forms/_forms.scss */
.form-item input[type="text"],
.form-item input[type="password"] {
  display: block;
  max-width: 100%;
}
/* line 63, ../sass/forms/_forms.scss */
.form-item .form-item {
  width: 100%;
}

/* line 67, ../sass/forms/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects {
  float: none;
}
/* line 69, ../sass/forms/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select {
  margin: 0;
}
/* line 71, ../sass/forms/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select:first-child {
  margin-right: 2%;
}

/* line 76, ../sass/forms/_forms.scss */
select {
  width: 49%;
  cursor: pointer;
}

/* line 81, ../sass/forms/_forms.scss */
.form-type-select label {
  display: block;
}

/* line 85, ../sass/forms/_forms.scss */
textarea {
  width: 100%;
  padding-top: 5px;
  resize: none;
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}

/* line 93, ../sass/forms/_forms.scss */
.bootstrap-filestyle {
  margin-top: 20px;
}
/* line 95, ../sass/forms/_forms.scss */
.bootstrap-filestyle input[type="text"] {
  display: inline-block;
}
@media (max-width: 480px) {
  /* line 98, ../sass/forms/_forms.scss */
  .bootstrap-filestyle .group-span-filestyle {
    display: block;
  }
}

/* line 106, ../sass/forms/_forms.scss */
.form-item-remember-me label {
  padding-left: 0;
}

/* line 2, ../sass/forms/_add-offer-form.scss */
.page-node-add-offer .heading-wrapper {
  text-align: center;
}

/* line 6, ../sass/forms/_add-offer-form.scss */
.node-offer-form {
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  /* line 6, ../sass/forms/_add-offer-form.scss */
  .node-offer-form {
    padding-bottom: 10px;
  }
}
/* line 11, ../sass/forms/_add-offer-form.scss */
.node-offer-form .form-item {
  width: 100%;
}
/* line 17, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}
/* line 22, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images .image-preview img {
  max-width: 70%;
  height: auto;
}
/* line 31, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images table .image-widget-data {
  max-width: 160px;
  margin-top: 10px;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 41, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-address {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}
/* line 46, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
/* line 50, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 54, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-category {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}
/* line 58, ../sass/forms/_add-offer-form.scss */
.node-offer-form .tabledrag-toggle-weight-wrapper,
.node-offer-form .sticky-table thead,
.node-offer-form .sticky-table .image-widget-data {
  display: none;
}
/* line 63, ../sass/forms/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-price {
  width: 50%;
}

/* Login Form */
/* line 3, ../sass/forms/_login-register.scss */
.register-link-wrapper {
  margin: 20px 0;
}

/* line 2, ../sass/views/_views-filters.scss */
.views-exposed-form .form-type-select,
.views-exposed-form select {
  width: 100%;
  max-width: 150px;
}
/* line 8, ../sass/views/_views-filters.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 20px;
}
@media (max-width: 480px) {
  /* line 8, ../sass/views/_views-filters.scss */
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

/* line 2, ../sass/views/_view-user-offers.scss */
.view-user-offers .views-field-delete-node,
.view-user-offers .views-field-edit-node {
  text-align: center;
}
@media (max-width: 480px) {
  /* line 8, ../sass/views/_view-user-offers.scss */
  .view-user-offers thead .views-field-delete-node,
  .view-user-offers thead .views-field-edit-node {
    font-size: 0;
  }
}
/* line 15, ../sass/views/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node,
.view-user-offers tbody .views-field-edit-node {
  font-size: 0;
}
/* line 20, ../sass/views/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:hover,
.view-user-offers tbody .views-field-edit-node a:hover {
  text-decoration: none;
}
/* line 22, ../sass/views/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:hover:before,
.view-user-offers tbody .views-field-edit-node a:hover:before {
  color: #e84e40;
  font-size: 1.375rem;
}
/* line 31, ../sass/views/_view-user-offers.scss */
.view-user-offers tbody .views-field-delete-node a:before {
  font-size: 1.125rem;
}
/* line 38, ../sass/views/_view-user-offers.scss */
.view-user-offers tbody .views-field-edit-node a:before {
  font-size: 1.125rem;
}
@media (max-width: 767px) {
  /* line 46, ../sass/views/_view-user-offers.scss */
  .view-user-offers tbody .views-field-field-offer-images img {
    max-width: 60px;
  }
}
@media (max-width: 767px) {
  /* line 51, ../sass/views/_view-user-offers.scss */
  .view-user-offers tbody .views-field-title {
    width: 40%;
  }
}

/* line 2, ../sass/panels/_panels.scss */
.panel-pane h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 6, ../sass/panels/_panels.scss */
.panel-pane h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}

/* line 11, ../sass/panels/_panels.scss */
.pane-node-comments {
  margin-top: 40px;
}
