/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_reset.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 5, ../sass/_reset.scss */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 18, ../sass/_reset.scss */
header,
footer,
article {
  display: block;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../font-awesome/fontawesome-webfont.eot?v=4.2.0");
  src: url("../font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../font-awesome/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../font-awesome/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../font-awesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_font-awesome.scss */
.fa, .node-type-offer .author-name {
  font-family: 'FontAwesome';
  line-height: 1;
}

/* line 16, ../sass/_font-awesome.scss */
.fa-search:before {
  content: '\f002';
}

/* line 19, ../sass/_font-awesome.scss */
.fa-user:before, .node-type-offer .author-name:before {
  content: '\f007';
}

/* line 22, ../sass/_font-awesome.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 25, ../sass/_font-awesome.scss */
.fa-facebook:before {
  font-family: 'FontAwesome';
  content: "\f09a";
  margin-right: 5px;
  color: #fff;
}

/* line 1, ../sass/_extends.scss */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="checkbox"],
textarea,
select,
div, [class*="col"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_extends.scss */
.main-nav .second-level {
  display: none;
}

/* line 18, ../sass/_extends.scss */
.block-user, .block-user .form-item, .block-user .form-actions, .help-menu li,
#block-system-user-menu li, .main-footer .block-menu li, .block-search .form-item-search-block-form, .comment .user-picture {
  float: left;
}

/* line 21, ../sass/_extends.scss */
.motto-logo p, .comment .links {
  float: right;
}

/* line 24, ../sass/_extends.scss */
.form-item:after, .node-offer-form .field-name-body:after, .view-offer-listing .view-content:after {
  content: ' ';
  display: block;
  clear: both;
}

/* line 29, ../sass/_extends.scss */
.primary-btn, input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #050800;
  border-radius: 20px;
  background: #fae019;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 2px 2px #afb1b3;
}
/* line 38, ../sass/_extends.scss */
.primary-btn:hover, input[type="submit"]:hover {
  color: #fff;
  background-color: #35AFBA;
  text-decoration: none;
}

/* line 44, ../sass/_extends.scss */
.block-user .form-actions input {
  border-radius: 50%;
}

/* line 1, ../sass/_layout.scss */
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media (min-width: 767px) and (max-width: 991px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    width: 990px;
  }
}
@media (min-width: 1170px) {
  /* line 1, ../sass/_layout.scss */
  .container {
    width: 960px;
  }
}

/* line 15, ../sass/_layout.scss */
.row {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 19, ../sass/_layout.scss */
.sidebar-left {
  padding-right: 10px;
}

/* line 25, ../sass/_layout.scss */
.col-12 {
  width: 100%;
}

/* line 28, ../sass/_layout.scss */
.col-11 {
  width: 91.66%;
}

/* line 31, ../sass/_layout.scss */
.col-10 {
  width: 83.33%;
}

/* line 34, ../sass/_layout.scss */
.col-9 {
  width: 75%;
}

/* line 37, ../sass/_layout.scss */
.col-8 {
  width: 66.66%;
}

/* line 40, ../sass/_layout.scss */
.col-7 {
  width: 58.33%;
}

/* line 43, ../sass/_layout.scss */
.col-6 {
  width: 50%;
}

/* line 46, ../sass/_layout.scss */
.col-5 {
  width: 41.66%;
}

/* line 49, ../sass/_layout.scss */
.col-4 {
  width: 33.33%;
}

/* line 52, ../sass/_layout.scss */
.col-3 {
  width: 25%;
}

/* line 55, ../sass/_layout.scss */
.col-2 {
  width: 16.66%;
}

/* line 58, ../sass/_layout.scss */
.col-1 {
  width: 8.33%;
}

/* line 71, ../sass/_layout.scss */
.col-full {
  padding-top: 40px;
  clear: both;
}

/* line 1, ../sass/_common.scss */
.fl-left {
  float: left;
}

/* line 4, ../sass/_common.scss */
.fl-right {
  float: right;
}

/* line 7, ../sass/_common.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 12, ../sass/_common.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* line 18, ../sass/_common.scss */
.center-margin {
  margin: 0 auto;
}

/* line 21, ../sass/_common.scss */
a {
  color: #0e2c4b;
}
/* line 23, ../sass/_common.scss */
a:hover {
  text-decoration: underline;
}

/* line 27, ../sass/_common.scss */
#main-content {
  margin-top: 40px;
}

/* line 30, ../sass/_common.scss */
body {
  font-size: 16px;
  line-height: 1.2;
  color: #050800;
}
/* line 34, ../sass/_common.scss */
body #admin-menu {
  font-size: 14px;
}

/* line 38, ../sass/_common.scss */
.main {
  margin-bottom: 60px;
  background: #fff;
}

/* line 45, ../sass/_common.scss */
#messages {
  margin-top: 50px;
}

/* line 48, ../sass/_common.scss */
h1 {
  margin-bottom: 20px;
  color: #626467;
}

/* line 52, ../sass/_common.scss */
h2.pane-title {
  margin-bottom: 10px;
  padding: 5px;
}

/* line 56, ../sass/_common.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 60, ../sass/_common.scss */
strong {
  color: #050800;
}

/* line 63, ../sass/_common.scss */
.heading-wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 66, ../sass/_common.scss */
.heading-wrapper h1 {
  display: inline-block;
}

/* line 1, ../sass/_typography.scss */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}

/* line 5, ../sass/_typography.scss */
h1 {
  font-size: 28px;
}

/* line 8, ../sass/_typography.scss */
h2 {
  font-size: 21px;
}

/* line 11, ../sass/_typography.scss */
h3 {
  font-size: 18px;
}

/* line 14, ../sass/_typography.scss */
h4 {
  font-size: 16px;
}

/* line 17, ../sass/_typography.scss */
h5 {
  font-size: 14px;
}

/* line 20, ../sass/_typography.scss */
h6 {
  font-size: 12px;
}

/* line 1, ../sass/_header.scss */
.main-header {
  position: relative;
}
/* line 3, ../sass/_header.scss */
.main-header .content {
  padding-top: 20px;
  height: 300px;
  background-image: url("../images/head.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px #ccc;
}

/* line 12, ../sass/_header.scss */
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}

/* line 19, ../sass/_header.scss */
.block-user {
  margin-left: 10px;
}
/* line 22, ../sass/_header.scss */
.block-user .form-item {
  width: auto;
  margin-right: 10px;
}
/* line 26, ../sass/_header.scss */
.block-user .form-item input[type="text"],
.block-user .form-item input[type="password"] {
  width: 190px;
  height: 25px;
}
/* line 32, ../sass/_header.scss */
.block-user .form-wrapper,
.block-user .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 36, ../sass/_header.scss */
.block-user label {
  font-size: 12px;
  line-height: 1.5;
}
/* line 40, ../sass/_header.scss */
.block-user .form-actions {
  position: relative;
  top: 2px;
}
/* line 44, ../sass/_header.scss */
.block-user .form-actions input {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  text-indent: -9999em;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}
/* line 57, ../sass/_header.scss */
.block-user .form-item-remember-me {
  font-size: 12px;
  line-height: 2;
}
/* line 60, ../sass/_header.scss */
.block-user .form-item-remember-me input {
  position: relative;
  top: 2px;
}

/* line 66, ../sass/_header.scss */
.fa-facebook {
  padding: 6px 4px 6px 5px;
  font-size: 11px;
  font-family: 'Roboto';
  color: #fff;
  background: #5b74a8;
  border: 1px solid #afb1b3;
  border-color: #2f477a #29447e #1a356e;
}
/* line 74, ../sass/_header.scss */
.fa-facebook:hover {
  color: #fff;
  background: #6c82b1;
}

/* line 79, ../sass/_header.scss */
.logo {
  margin: 10px 0;
}
/* line 81, ../sass/_header.scss */
.logo img {
  max-width: 200px;
  height: auto;
}

/* line 88, ../sass/_header.scss */
.help-menu li,
#block-system-user-menu li {
  margin-right: 5px;
  border-right: 1px solid #afb1b3;
}
/* line 92, ../sass/_header.scss */
.help-menu li:last-child,
#block-system-user-menu li:last-child {
  border-right: 0 none;
}
/* line 96, ../sass/_header.scss */
.help-menu a,
#block-system-user-menu a {
  margin-right: 5px;
  font-size: 14px;
  color: #95989a;
}
/* line 100, ../sass/_header.scss */
.help-menu a:hover,
#block-system-user-menu a:hover {
  color: #6e7174;
}

/* line 105, ../sass/_header.scss */
.add-offer-link {
  margin-top: 10px;
  padding-left: 40px;
  background-image: url("../images/arrow-small.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  font-size: 20px;
}
/* line 112, ../sass/_header.scss */
.add-offer-link:hover {
  font-size: 22px;
}

/* line 116, ../sass/_header.scss */
.motto {
  margin-top: 10px;
  padding: 7px 0;
  text-align: center;
  background-image: url("../images/lenta.png");
  background-position: center;
  background-size: 100% 100%;
}
/* line 123, ../sass/_header.scss */
.motto p {
  text-transform: uppercase;
  font-weight: bold;
  color: #050800;
}

/* line 5, ../sass/_main-nav.scss */
.main-nav li {
  float: left;
}
/* line 8, ../sass/_main-nav.scss */
.main-nav a {
  display: block;
  height: 71px;
  line-height: 71px;
  padding: 0 14px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 16, ../sass/_main-nav.scss */
.main-nav a:hover {
  color: #fff;
  background: #0e2c4b;
}

/* line 1, ../sass/_main-footer.scss */
.main-footer {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #afb1b3;
  clear: both;
}
/* line 6, ../sass/_main-footer.scss */
.main-footer .block-menu {
  display: inline-block;
  padding: 10px 20px;
  background: #95989a;
  border-radius: 7px;
}
/* line 11, ../sass/_main-footer.scss */
.main-footer .block-menu li {
  margin-right: 10px;
  border-right: 1px solid #fff;
}
/* line 15, ../sass/_main-footer.scss */
.main-footer .block-menu li:last-child {
  margin-right: 0;
  border-right: 0 none;
}
/* line 18, ../sass/_main-footer.scss */
.main-footer .block-menu li:last-child a {
  margin-right: 0;
}
/* line 23, ../sass/_main-footer.scss */
.main-footer .block-menu a {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

/* line 31, ../sass/_main-footer.scss */
.motto-logo {
  display: inline-block;
}

/* line 34, ../sass/_main-footer.scss */
.motto-logo {
  min-width: 340px;
}
/* line 36, ../sass/_main-footer.scss */
.motto-logo .logo {
  margin-top: 5px;
}
/* line 38, ../sass/_main-footer.scss */
.motto-logo .logo img {
  width: 60px;
  height: auto;
}
/* line 43, ../sass/_main-footer.scss */
.motto-logo p {
  line-height: 2.4;
  font-size: 12px;
  color: #db2a1a;
}

/* line 1, ../sass/_forms.scss */
span.form-required {
  display: none;
}

/* line 4, ../sass/_forms.scss */
.form-actions {
  cursor: pointer;
}

/* line 7, ../sass/_forms.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 11, ../sass/_forms.scss */
label,
.fieldset-legend {
  padding-left: 10px;
  line-height: 2;
  font-size: 14px;
  color: #888b8e;
}
/* line 17, ../sass/_forms.scss */
label.compact-form-label,
.fieldset-legend.compact-form-label {
  font-size: 14px;
}

/* line 21, ../sass/_forms.scss */
input[type="text"],
input[type="password"],
textarea {
  padding-left: 12px;
}

/* line 26, ../sass/_forms.scss */
input[type="text"],
input[type="password"],
textarea,
select {
  background: #fff;
  border: 1px solid #c9cbcc;
  box-shadow: 0 0 2px #fafafa;
}

/* line 34, ../sass/_forms.scss */
.form-wrapper,
.compact-form-wrapper {
  margin-bottom: 20px;
}

/* line 38, ../sass/_forms.scss */
.form-item {
  width: 50%;
}
/* line 41, ../sass/_forms.scss */
.form-item input[type="text"],
.form-item select,
.form-item input[type="password"] {
  height: 30px;
  margin-bottom: 10px;
}
/* line 47, ../sass/_forms.scss */
.form-item input[type="text"],
.form-item input[type="password"] {
  width: 100%;
}

/* line 52, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects {
  float: none;
}
/* line 54, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select {
  margin: 0;
}
/* line 56, ../sass/_forms.scss */
.hierarchical-select-wrapper .hierarchical-select .selects select:first-child {
  margin-right: 2%;
}

/* line 61, ../sass/_forms.scss */
select {
  width: 49%;
  cursor: pointer;
}

/* line 66, ../sass/_forms.scss */
.form-type-select label {
  display: block;
}

/* line 70, ../sass/_forms.scss */
textarea {
  width: 100%;
  resize: none;
}

/* line 74, ../sass/_forms.scss */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 39px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

/* line 84, ../sass/_forms.scss */
.customUploadBtn {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background: #35AFBA;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 94, ../sass/_forms.scss */
.customUploadBtn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 2, ../sass/_add-offer-form.scss */
.page-node-add-offer .heading-wrapper {
  text-align: center;
}

/* line 6, ../sass/_add-offer-form.scss */
.node-offer-form {
  padding-bottom: 40px;
}
/* line 8, ../sass/_add-offer-form.scss */
.node-offer-form .form-item {
  width: 100%;
}
/* line 14, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-images {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
/* line 20, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-address {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}
/* line 25, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}
/* line 29, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-telephone-number .compact-form-wrapper {
  margin-bottom: 0;
}
/* line 33, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-category {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}
/* line 37, ../sass/_add-offer-form.scss */
.node-offer-form .tabledrag-toggle-weight-wrapper,
.node-offer-form .sticky-table thead,
.node-offer-form .sticky-table .image-widget-data {
  display: none;
}
/* line 42, ../sass/_add-offer-form.scss */
.node-offer-form .field-name-field-offer-price {
  width: 50%;
}

/* line 2, ../sass/_offer-listing.scss */
.pane-views-offer-listing-block .pane-title {
  margin-top: 20px;
}

/* line 11, ../sass/_offer-listing.scss */
.view-offer-listing .views-row {
  margin-bottom: 30px;
  padding: 0 10px;
}
/* line 15, ../sass/_offer-listing.scss */
.view-offer-listing .views-field-field-offer-images {
  padding-top: 5px;
  text-align: center;
  border: solid #c9cbcc;
  border-width: 1px 1px 0 1px;
}
/* line 20, ../sass/_offer-listing.scss */
.view-offer-listing .views-field-field-offer-images img {
  border-radius: 3px;
}
/* line 24, ../sass/_offer-listing.scss */
.view-offer-listing .views-field-title {
  padding: 10px 5px;
  border: solid #c9cbcc;
  border-width: 0 1px 1px 1px;
}

/* line 1, ../sass/_terms_block.scss */
.terms-block {
  padding: 20px;
  background: #d6d7d8;
}
/* line 4, ../sass/_terms_block.scss */
.terms-block .pane-title {
  text-align: center;
  color: #fff;
  background: #95989a;
}
/* line 9, ../sass/_terms_block.scss */
.terms-block a {
  color: #888b8e;
}
/* line 13, ../sass/_terms_block.scss */
.terms-block .pane-content > ul > .first > a {
  text-transform: uppercase;
}
/* line 16, ../sass/_terms_block.scss */
.terms-block .pane-content > ul > li {
  margin-bottom: 20px;
}
/* line 18, ../sass/_terms_block.scss */
.terms-block .pane-content > ul > li > a {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #888b8e;
}

/* line 1, ../sass/_pager.scss */
.pager {
  text-align: center;
}
/* line 3, ../sass/_pager.scss */
.pager li {
  display: inline-block;
}
/* line 6, ../sass/_pager.scss */
.pager .pager-current {
  text-decoration: underline;
}

/* line 3, ../sass/_ads.scss */
.simplead-container img,
.ad img {
  max-width: 100%;
}

/* line 7, ../sass/_ads.scss */
.ad-medium {
  margin-left: 20px;
}

/* line 10, ../sass/_ads.scss */
.ad-bottom.ad-medium {
  margin-left: 0;
  margin-right: 20px;
}

/* line 1, ../sass/_search.scss */
.block-search {
  margin-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 4, ../sass/_search.scss */
.block-search .form-item-search-block-form {
  width: 50%;
  margin-right: 10px;
}
/* line 8, ../sass/_search.scss */
.block-search .form-item-search-block-form .form-text {
  margin-top: 5px;
}

/* line 1, ../sass/_offer.scss */
.offer-left {
  padding: 0 10px;
}

/* line 4, ../sass/_offer.scss */
.pane-node-body {
  padding: 40px 0;
  border-bottom: 1px solid #ededed;
}
/* line 7, ../sass/_offer.scss */
.pane-node-body .pane-content {
  padding: 20px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

/* line 14, ../sass/_offer.scss */
.pane-node-field-offer-price .field-item {
  font-size: 18px;
  font-weight: bold;
}

/* line 21, ../sass/_offer.scss */
.node-type-offer .pane-block .pane-title,
.node-type-offer .pane-block .pane-content {
  display: inline-block;
}
/* line 25, ../sass/_offer.scss */
.node-type-offer .pane-block .pane-content {
  font-size: 14px;
}
/* line 32, ../sass/_offer.scss */
.node-type-offer .author-name:before {
  font-size: 18px;
}
/* line 37, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-title {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 43, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .pane-content {
  display: block;
}
/* line 48, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .view-content {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 0;
}
/* line 53, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-row {
  display: inline-block;
  vertical-align: top;
  width: 33.333333%;
  padding: 5px;
}
/* line 59, ../sass/_offer.scss */
.node-type-offer .pane-other-user-offers .view-other-user-offers .views-field-title {
  font-size: 14px;
}

/* Login Form */
/* line 3, ../sass/_login-register.scss */
.register-link-wrapper {
  margin: 20px 0;
}

/* line 2, ../sass/_bx-slider.scss */
.bx-wrapper .bx-pager {
  bottom: -115px;
}

/* line 1, ../sass/_panels.scss */
.pane-block {
  margin-bottom: 10px;
  padding: 10px;
  background: #f0f1f1;
  color: #434343;
}

/* line 5, ../sass/_comments.scss */
.comment h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
/* line 10, ../sass/_comments.scss */
.comment .submitted {
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
/* line 13, ../sass/_comments.scss */
.comment .submitted .username {
  font-weight: bold;
  color: #0e2c4b;
}
/* line 18, ../sass/_comments.scss */
.comment .content {
  width: 85%;
  font-size: 12px;
  line-height: 1.3;
}
/* line 22, ../sass/_comments.scss */
.comment .content .field-name-comment-body {
  margin-top: 10px;
}
/* line 26, ../sass/_comments.scss */
.comment .links {
  margin-top: 10px;
  clear: both;
}
/* line 30, ../sass/_comments.scss */
.comment .links li {
  display: inline-block;
  font-size: 12px;
}
